<style>
	.page-title{
		font-size:36px;
	}
    h1{
        font-weight: bold;
    }
    .key-text{
        margin-top:0px;
        margin-bottom:0px;
    }
    #section-main-content .container {
        width: 100% !important;
    }
    .region-breadcrumb{
      display:none;
    }
    #section-main-content .header.container{
      background-image:url('https://norgenbiotek.com/sites/default/files/cat-banner.jpg');
      background-size:cover;
      background-position-x: left;
      background-position: top;
      margin-left:-15px;
      margin-right:-15px;
      width:auto !important;
    }
    #section-main-content section{
      padding:3em 0;
    }
    section#key-points-and-lead-gen, section#text-section{
      background-color: #f9f9f9;
    }
    hr.header-separator{
      border-top:0px;
      margin-left:-15px;
      margin-right:-15px;
      margin-top:0px;
      margin-bottom:0px;
      height:24px;
      background:linear-gradient(90deg, #ec1d25,#004897,#0f6b7a)
    }
    .flex{
      display:flex;
    }
    .flex-col{
      display:flex;
      flex-direction:column;
      justify-content:end;
      flex:1;
      margin-left:-15px;
      margin-right:-15px;
      margin-top:max(10vh, 1em);
      margin-bottom:20px;
    }
    .rnapoints .key-text{
      background-color:#e5ecf4;
      padding:2em;
      margin:10px 0px;
    }
    .shop-container{
      max-width:1920px;
      margin:auto;
    }

        
    /* Header App Note Download */
    .data-container{
        /* position: absolute; */
        width: calc(100% - 2rem);
        bottom: -17rem;
        background-color: #000000cc;
        /*max-width: 1280px;*/
        /* max-width:700px; */
        margin: auto;
        padding: 1em;
        text-align:left;
        box-shadow: 0 0 5px 0;
    }
    
    .inner_content_content_type{
        color:white;
        font-weight:600 !important;
        font-size:18px !important;
        padding-bottom:0.2% !important;
    }
    
    .inner_content_release_date_and_last_updated_date{
        color:white;
        display: inline-block;
    }
    
    .inner_content_title{
        color:white;
        font-size: max(1vw, 28px) !important;
        font-weight:600 !important;
        display:inline-block;
    }
    
    .fa-download{
        padding-right:10px;
    }
  

    #key-points-and-lead-gen .vd-wrapper{
      display: flex;
        align-items: center;
    }

    /* Page Specific For Category Pages */
    .region-pagetitle {
        display: none;
    }
    .img-header,
    .sticky-submenu,
    .sticky-submenu.isSticky {
        margin: 0 -15px;
        width: calc(100% + 30px);
    }
    .img-header {
        background-image: url(/sites/default/files/images/rna-bkg.jpg);
    }
    .vd-wrapper.row{
        margin:1em auto;
    }
    .header.container {
    	background-image: url(https://norgenbiotek.com/sites/default/files/cat-banner.jpg);
   	 	background-size: cover;
    	background-position-x: left;
    	background-position: top;
    	margin-left: -15px;
    	margin-right: -15px;
    	width: auto !important;
	}
	
    @media (min-width: 768px){
        .vd-wrapper {
            width: 750px;
        }
    }
    @media (min-width: 992px){
        .vd-wrapper {
            width: 970px;
        }
    }
    @media (min-width: 1200px){
        .vd-wrapper {
            width: 1170px;
        }
    }

    @media (max-width: 992px){
      .flex{
        flex-direction: column;
      }
      #key-points-and-lead-gen .vd-wrapper{
          flex-direction: column;
        }
    }

    @media only screen and (max-width: 600px) {
    
        .data-container{
            bottom: -2rem;
        }
    }
    
    @media only screen and (max-width: 392px) {
    
        .data-container{
            bottom: -2rem;
        }
        .inner_content_title{
            font-size:22px !important;
        }
        .inner_content_content_type{
            font-size:15px;
        }
        .data-container .btn-exo{
            font-size: 10px !important;
        }
    }
    
    @media only screen and (max-width: 302px) {
        
        .data-container{
            bottom: -2rem;
        }
        .inner_content_title{
        font-size:18px !important;
        }
        .inner_content_content_type{
            font-size:12px;
        }
        
        .data-container .btn-exo{
            font-size: 7px !important;
        }
    }
    
    @media only screen and (max-width: 279px) {
    
        .data-container{
            bottom: -2rem;
        }
        .inner_content_title{
            font-size:15px !important;
        }
        
        .inner_content_content_type{
            font-size:10px;
        }
        
        .data-container .btn-exo{
            font-size: 5px !important;
        }
    }
    
    @media only screen and (min-width: 5000px) {
        .inner_content_title{
            font-size: max(0vw, 30px) !important;
        }
    }
</style>
  
<div class="header container" style="position:relative;overflow:hidden;">
    <picture style="position:absolute;height:200%;transform: rotate(73deg) scale(-1,1);bottom: -50%;right: max(-5vw, -3em);">
        <source srcset="https://norgenbiotek.com/sites/default/files/banner-ribbon.webp" type="image/webp">
        <source srcset="https://norgenbiotek.com/sites/default/files/banner-ribbon.png" type="image/jpeg">
        <img src="https://norgenbiotek.com/sites/default/files/banner-ribbon.png" alt="" style="height:100%;">
    </picture>
    <div class="row">
        <div class="flex vd-wrapper">
            <div class="col-lg-6 col-md-6 col-sm-12 flex-col">
                {% if label %}
                    {% if page %}
                        <h1 class="page-title">{{ label }}</h1>
                    {% else %}
                        <h1 class="node-title"><a href="{{ url }}" class="node__title-link" rel="bookmark">{{ label }}</a></h>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr class="header-separator">
<div class="row">
   {{ content.body }}
</div>