

/* Hide the new sticky SKU by default */
#nor_sticky_sku {
    display: none;
}

/* Only apply sticky behavior on desktops */
@media (min-width: 1024px) {

    /* #sticky-form-wrapper {
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    } */

    #sticky-form-wrapper.is-sticky {
        position: fixed;
        top: 100px; /* adjust if you have a header */
        left: 0;
        width: 100%;
        background: #ffffff00;
        justify-items: anchor-center;
        /* box-shadow: 0 2px 8px #0000001a; */
        transform: translateY(-100%);
        z-index: 9999;
    }

    #sticky-form-wrapper.is-sticky.visible {
        transform: translateY(0);
        background: #e5ecf4;
        box-shadow: 0 1px 8px #00234996;
    }

    #sticky-form-wrapper .c-product-meta.container{
        padding:0px;
    }

    #sticky-form-wrapper.is-sticky.visible .c-product-meta {
        display: flex;
        flex-wrap:wrap;
        column-gap:20px;
        row-gap:10px;
        font-size: 14px;  
        border-radius: 10px;
        padding: 10px;
        align-items: center;
        justify-items: center;
        justify-content:space-between;
        width: 100%;
        position:relative;
    }

    /* Hide elements you don't want in sticky mode */
    #sticky-form-wrapper.is-sticky.visible .c-product-badge,
    #sticky-form-wrapper.is-sticky.visible #desktop-summary-line,
    #sticky-form-wrapper.is-sticky.visible .promo-div,
    #sticky-form-wrapper.is-sticky.visible #nor_anonymous_register_today,
    #sticky-form-wrapper.is-sticky.visible .product_variation_sku_wrapper,
    #sticky-form-wrapper.is-sticky.visible .flag-outer.flag-outer-compare,
    #sticky-form-wrapper.is-sticky.visible .extraclean-logo
    {
        display: none;
    }


    /* Adjust form layout inside sticky mode */
    #sticky-form-wrapper.is-sticky.visible 
    .attribute-widgets.js-form-wrapper.form-wrapper.form-container,
    #sticky-form-wrapper.is-sticky.visible 
    .layout__region.layout__region--content,
    #sticky-form-wrapper.is-sticky.visible 
    .commerce-order-item-add-to-cart-form-commerce-product-279,
    #sticky-form-wrapper.is-sticky.visible 
    .commerce-order-item-add-to-cart-form,
    #sticky-form-wrapper.is-sticky.visible 
    form {
        display: flex;
        align-items: center;
        /* flex-wrap: wrap; */
        gap: 10px;
        margin-left:-10px;
    }
    #sticky-form-wrapper.is-sticky.visible #sticky_product_info_wrapper{
        display:grid;
    }
    /* Title font size adjustments */
    #sticky-form-wrapper.is-sticky.visible #desktop-title .c-font-uppercase.c-font-bold {
        font-size: 14px;
        margin-bottom: 0;
        max-width: 400px;
    }

    #sticky-form-wrapper.is-sticky.visible #nor_sticky_sku_price{
        display:flex;
        gap:20px;
        width:100%;
        justify-content:space-between;
        margin-top:4px;
    }

    /* Adjust price layout */
    #sticky-form-wrapper.is-sticky.visible .c-product-meta .c-product-price
    {
        font-size: 18px;
        line-height:18px;
        font-weight:700;
        margin-bottom: 0;
        color:var(--norgen-primary-blue-dark);
    }

    /* Fixing layout shift in price */
    #sticky-form-wrapper.is-sticky.visible .c-product-meta .c-product-price .smart-save
    {
        font-size: 14px;
        margin-bottom: 0;
    }

    /* SKU layout adjustments */
    #sticky-form-wrapper.is-sticky.visible #nor_sticky_sku {
        display: block;
        font-size:14px;
    }
    

    #sticky-form-wrapper.is-sticky.visible 
    .form-actions .btn-medium {
        -webkit-transition: none!important;
        margin-top: 0;
        margin-right: 0;
    }

    #sticky-form-wrapper.is-sticky.visible #nor_sticky_format_and_size{
        display:flex;
        gap:10px;
        height:36px;
    }

    #sticky-form-wrapper.is-sticky.visible #nor_sticky_cart_selectors{
        display:flex;
        gap:10px;
    }   

    /* Sticky mode: target Format fieldset */
    #sticky-form-wrapper.is-sticky.visible
    fieldset[id*="attribute-format"],
    #sticky-form-wrapper.is-sticky.visible
    fieldset[id*="attribute-size"] {
        position: absolute;
        top: 100%; /* always positioned at the bottom of the sticky cart */
        z-index: 1100;
        background: #fff;
        max-width:480px;
        /* hidden by default in sticky mode */
        display: none;
        padding: 5px;
        box-shadow: 0 2px 8px #00000031;
        border-radius:0px 0px 5px 5px;
        margin-top:0px;
    }

    /* When JS toggles the open class while wrapper is sticky, show it */
    #sticky-form-wrapper.is-sticky.visible
    fieldset[id*="attribute-format"].open,
    #sticky-form-wrapper.is-sticky.visible
    fieldset[id*="attribute-size"].open {
        display: block;
        padding:10px;
    }

    #sticky-form-wrapper.is-sticky.visible
    fieldset[id*="attribute-format"].open > legend,
    #sticky-form-wrapper.is-sticky.visible
    fieldset[id*="attribute-size"].open > legend{
        font-size: 16px;
    }

    #sticky-form-wrapper.is-sticky.visible .product--rendered-attribute.fieldgroup>.fieldset-wrapper>div{
        grid-gap:10px;
    }
    /* Adjust number of columns based on the number of children */
    #sticky-form-wrapper.is-sticky.visible .product--rendered-attribute.fieldgroup>.fieldset-wrapper>div:has(> *:only-child){
        grid-template-columns: 1fr;
    }
    #sticky-form-wrapper.is-sticky.visible .product--rendered-attribute.fieldgroup>.fieldset-wrapper>div:has(> :last-child:nth-child(2)){
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* #sticky-form-wrapper.ajax-refreshing
    fieldset[id*="attribute-format"],
    #sticky-form-wrapper.ajax-refreshing
    fieldset[id*="attribute-size"] {
        display: block;
        visibility: hidden; 
    } */

    #sticky-form-wrapper.is-sticky.visible div[data-drupal-selector^="edit-actions"] .submit{
        background-color:transparent!important;
    }
    #sticky-form-wrapper.is-sticky.visible .commerce-order-item-add-to-cart-form .attribute-widgets div.product-row, 
    #sticky-form-wrapper.is-sticky.visible .commerce-order-item-add-to-cart-form .attribute-widgets div.format-row{
        font-size:14px;
        padding:10px;
    }
  
    /* #sticky-form-wrapper.ajax-refreshing
    fieldset.open {
        visibility: visible;
    } */

    

    
    /* Hide promotion margin in sticky mode */
    #sticky-form-wrapper.is-sticky.visible 
    .product--variation-field--variation_field_sale_promotion__1731.data.price.smart-save.empty {
        margin-bottom: 0;
    }

    /* Hide quantity label in sticky mode */
    #sticky-form-wrapper.is-sticky.visible 
    .form-group.js-form-item.form-item.js-form-type-number.form-item-quantity-0-value.js-form-item-quantity-0-value > label {
        display: none;
    }

    /* fix quantity margins */
    #sticky-form-wrapper.is-sticky.visible 
    .form-group.js-form-item.form-item.js-form-type-number.form-item-quantity-0-value.js-form-item-quantity-0-value {
        margin:0!important;
    }

    #sticky-form-wrapper.is-sticky.visible input[data-drupal-selector^="edit-quantity"]{
        max-width: 100px;
        height: 36px;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #ccc;
    }

    #sticky-form-wrapper #nor_sticky_format,
    #sticky-form-wrapper #nor_sticky_size{
        display: none;
        cursor: pointer;
        background: white;
        padding: 2px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        line-height: 30px;
        font-size:14px;
    }
    #sticky-form-wrapper.is-sticky.visible #nor_sticky_format, 
    #sticky-form-wrapper.is-sticky.visible #nor_sticky_size {
        display: block;

    }

    

    #nor_sticky_format::after,
    #nor_sticky_size::after {
        content: "\f078"; /* Unicode for chevron-down */
        font-family: "Font Awesome 5 Free"; /* or 'Font Awesome 5 Free' depending on version */
        font-weight: 900; /* Needed for solid icons */
        display: inline-block;
        margin-left: 6px;
        font-size: 10px;
        vertical-align: middle;
    }

}
@media (max-width: 1199px) { /* Adjust for mobile menu */
    #sticky-form-wrapper.is-sticky{
        top: 65px
    }
    #sticky-form-wrapper.is-sticky.visible #desktop-title .c-font-uppercase.c-font-bold{
        max-width:none;
    }
}