<style>
.form-col{
  display:flex;
  gap:10px;
}
.lead-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
    margin: 25px auto;
    align-items: center;
    gap:40px;
}
.lead-grid form label{
  margin:20px 0 0;
}
.lead-grid form input{
  width:100%;
}
.campaign-lead h3{
  text-align:center;
}
.campaign-lead > div{
  margin:50px 0 0;
}
form.extraclean-educational-video-gated-infograph{
    display:grid;
    gap:21px 5px;
    grid-template-areas: 
    'a b'
    'c c'
    'd d'
    'e f'
    'g g'
    'j j'
    'h h'
    'i i';
}
form.extraclean-educational-video-gated-infograph > .form-group.form-item-fname{
    grid-area: a;
}
form.extraclean-educational-video-gated-infograph > .form-group.form-item-lname{
    grid-area:b;
}
form.extraclean-educational-video-gated-infograph > .form-group.form-item-email{
    grid-area:c;
}
form.extraclean-educational-video-gated-infograph > .form-group.form-item-phone{
    grid-area:d;
}
form.extraclean-educational-video-gated-infograph > .form-group.form-item-job{
    grid-area:e;
}
form.extraclean-educational-video-gated-infograph > .form-group.form-item-company{
    grid-area:f;
}
form.extraclean-educational-video-gated-infograph > .form-group.form-item-country{
    grid-area:g;
}
form.extraclean-educational-video-gated-infograph > .form-group.form-item-subscribe{
    grid-area:h;
}
form.extraclean-educational-video-gated-infograph > .form-group.submit{
    grid-area:i;
}
form.extraclean-educational-video-gated-infograph > .form-item-province-state{
    grid-area:j;
}
.form-item{
  margin:0;
}
.form-group{
  margin:0;
}
.lead-grid form label {
    margin: 0;
}
.text-side{
  background: #f6f9fb;
    padding: 30px 45px;
    color: white;
}

.page-grid{
    position:relative; 
    margin: 20px 70px;
  }
  /*.page{
  position:absolute;

  }*/
  .campaign-book{
    width: 700px;
    
   
  }
  .arrow-page{
    position: relative;
    top: -50%;
  }
  .arrow-page div{
    position: absolute;
    padding:0 15px;
  }
  .next-arrow{
    right:0;
  }
  .next-arrow:hover{
    cursor: pointer;
  }
  .prev-arrow{
    left:0;
  }
  .prev-arrow:hover{
    cursor: pointer;
  }
  .page{
  display:none;
  }

.page img {
    width: 100%;
    display: block;
}

.page::after {
    content: "";
    position: absolute;
    top: 47%;
    left: 0%;
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 1) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


.form-item-extraclean-subscribe{
  grid-column: 1 / 3;
}

  .lead-grid > img:hover{
    cursor: pointer;
  }
  .overlay-form1{
        position: absolute;
    background: #ffffff69;
    bottom: 0;
    top:0;
    backdrop-filter: blur(15px);
    padding: 100px;
  }
  .prev-arrow{
  display:none;
  }

  #edit-google-recaptcha {
    margin-left: 170px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
  .campaign-book{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow:scroll;
  }
  .campaign-book h2{
    font-size:24px;
  }
  .campaign-book h3{
    font-size:12px;
  }
  .overlay-form1{
    padding:40px;
  }
  form.extraclean-educational-video-gated-infograph {
    grid-template-areas:'a'
                       'b'
                       'c'
                       'd'
                       'e'
                       'f'
                       'g'
                       'j'
                       'h'
                       'i';
  }
  
  }
</style>


<section class="section campaign-lead container c-content-title-1 c-content-box c-size-md" id="access">
  <h2 class="c-font c-center">Access Now: Extraclean Infographic</h2>
  
  <p><b>Preview Text:</b> Small RNAs (usually &lt; 200 nt) play a crucial role in gene regulation, serve as biomarkers for important diseases, and can be targeted 
for personalized therapies. With scientists increasingly relying on Small RNA sequencing to improve our understanding in this field.</p>

  <div >
    
    <div class="lead-grid">
        <section class="campaign-book">
  <div class="page-grid">
   <div class="page">
    <img src="https://norgenbiotek.com/sites/default/files/images/extraclean-campaign/2025-02-27 Extra clean info graphic_PR.png">
   </div>

   <div class="page ">
    <div class="overlay-form1 norgenblue-heading">
    <h2 class="c-font">Get Full Access Now!</h2>
    <hr>
    <h3 style="text-align:left;">Fill out the form and you will get full access to the technical guide!</h3>
   </div>
  </div>
  </div>

  {# <div class="arrow-page">
  <div class="prev-arrow" onclick="prev_page()">
      <span class="fa fa-2x fa-chevron-left" aria-hidden="true"></span>
    </div>
    <div class="next-arrow" onclick="next_page()">
      <span class="fa fa-2x fa-chevron-right" aria-hidden="true"></span>
    </div>
    
  </div> #}
</section>  
      <div>
        <div class="norgenblue-heading form-div">
          <h3 class="c-font">Fill out the form now to access the full technical guide</h3>
          <hr>
          <div class="stool-lead-capture">
          {{ extraclean_educational_video_gated_infograph }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
var pages = document.getElementsByClassName("page");
/*for(var i = 0; i < pages.length; i++){
  var left = i * 100;
  pages[i].style.left = left + "%";
}*/
pages[0].style.display = "block";
var count = 0;
function next_page(){
  var pages = document.getElementsByClassName("page");

  if(count != pages.length-1){
    for(var i = 0; i < pages.length; i++){
      pages[i].style.display = "none";
    }
  }
  
  
  
  if(count < 3){
    count++;
    pages[count].style.display = "block";
    document.getElementsByClassName("prev-arrow")[0].style.display = "block";
    if(count == 3){
      document.getElementsByClassName("overlay-form1")[0].style.display = "block";
      document.getElementsByClassName("next-arrow")[0].style.display = "none";
    }
  }
  console.log("next ", count + "," + pages.length);
}

function prev_page(){
  var pages = document.getElementsByClassName("page");

  if(count != 0){
    for(var i = 0; i < pages.length; i++){
      pages[i].style.display = "none";
    }
  }
  if(count > 0){
    count--;
    pages[count].style.display = "block";
    document.getElementsByClassName("next-arrow")[0].style.display = "block";
    if(count == 0){
      document.getElementsByClassName("prev-arrow")[0].style.display = "none";
    }
  }
  console.log("prev ", count);
}
</script>