<!DOCTYPE html>
<html>
{# <head>   
    <meta propety = "og:image" content="/sites/default/files/images/Asset4.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" > #}
    <style>
        .machine-title h1{
          font-size: 40px;
          text-align: center;
          margin-bottom:40px;
          color: black;
        }
        
.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #004897;
    overflow: hidden;
    height: 780px;
    background: white;
  background-image: url('/sites/default/files/images/Asset 4.png'); 
    background-position: -55px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-section h1 {
  font-size: 6.5rem;
  color: #3f444a;
  margin: 0;
  font-family: Montserrat;
  font-weight: 700;
  margin-bottom: 45px;
}

.hero-section p.subtext {
  font-size: 18px;
  margin: 10px 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3f444a;
  font-family: Montserrat;
  margin-bottom:0px;
}

.cta-box {
  background: rgb(255 255 2550 / 15%);
  padding: 40px 30px;
  border-radius: 12px;
  text-align: left;
  backdrop-filter: blur(15px);
  align-content: center;
  margin-top: 0px;
  margin:auto;
  border:1px solid #3f444a;
}

.cta-box h2 {
  font-size: 4.25rem;
  color: #3f444a;
  font-weight: 700;
}

.trial-statement {
  font-size: 3.0rem;
  color: #3f444a;
  margin: 20px 0;
  
  margin-bottom:0px; 
  margin-top:0px;
  line-height: 1.3;
}
.contact-statement {
  font-size: 22px;
  color: #3f444a;
  margin-bottom: 10px;
  margin-top: 0px;
}



.cta-box a.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #990000;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size:18px;
}

.cta-box a.cta-button:hover {
  background-color: #cc0000;
  -webkit-transition: all 0.2s ease-out;
  transform: translateY(-2px);
}




@media (max-width: 1199px) {
  .hero-section {
    height: 650px; 

  }
}
@media (max-width: 1200px) {
  .hero-section {
    height: 650px; 
  }

  .background-img {
    width: 650px; 
    height: 650px; 
  }

  .hero-section h1 {
    font-size: 5.5rem; 
    margin-bottom: 35px;
  }

  .hero-section p.subtext {
    font-size: 24px; 
  }

  .cta-box {
    padding: 25px; 
  }

  .cta-box h2 {
    font-size: 4.0rem; 
  }

  .cta-box p {
    font-size: 20px; 
  }

  .cta-box a.cta-button {
    font-size: 16px; 
    padding: 12px 24px; 
  }
}




@media (max-width: 1144px) {
  .hero-section {
    height: 650px; 
  }

  .background-img {
    width: 650px; 
    height: 650px; 
  }

  .hero-section h1 {
    font-size: 5.5rem; 
    margin-bottom: 35px;
  }

  .hero-section p.subtext {
    font-size: 2.0rem; 
  }

  .cta-box {
    padding: 25px; 
  }

  .cta-box h2 {
    font-size: 4.0rem; 
  }

  .cta-box p {
    font-size: 20px; 
  }

  .cta-box a.cta-button {
    font-size: 16px; 
    padding: 12px 24px; 
  }
}


@media (max-width: 1024px) {
  .hero-section {
    height: 650px; 
  }

  .background-img {
    width: 650px; 
    height: 650px; 
  }

  .hero-section h1 {
    font-size: 5.2rem; 
    margin-bottom: 35px;
  }

  .hero-section p.subtext {
    font-size: 2.0rem; 
  }

  .cta-box {
    padding: 25px; 
  }

  .cta-box h2 {
    font-size: 4.0rem; 
  }

  .cta-box p {
    font-size: 20px; 
  }

  .cta-box a.cta-button {
    font-size: 16px; 
    padding: 12px 24px; 
  }
}



@media (max-width: 992px) {
  .hero-section {
    height: 500px; 
  }

  .background-img {
    width: 450px; 
    height: 450px;
  }

  .hero-section h1 {
    font-size: 4.5rem; 
    margin-bottom: 25px;
  }

  .hero-section p.subtext {
    font-size: 2.2rem; 
  }

  .cta-box {
    padding: 15px;
  }

  .cta-box h2 {
    font-size: 3.5rem; 
  }

  .cta-box p {
    font-size: 20px; 
  }

  .cta-box a.cta-button {
    font-size: 14px; 
    padding: 10px 20px; 
  }
}


@media (max-width: 768px) {
  .hero-section {
    height: 500px; 
  }

  .background-img {
    width: 450px; 
    height: 450px;
  }

  .hero-section h1 {
    font-size: 4.5rem; 
    margin-bottom: 25px;
  }

  .hero-section p.subtext {
    font-size: 2.2rem; 
  }

  .cta-box {
    padding: 15px;
  }

  .cta-box h2 {
    font-size: 3.5rem; 
  }

  .cta-box p {
    font-size: 20px; 
  }

  .cta-box a.cta-button {
    font-size: 14px; 
    padding: 10px 20px; 
  }
}



@media (max-width: 740px) {
  .hero-section {
    height: 500px; 
  }

  .background-img {
    width: 450px; 
    height: 450px;
  }

  .hero-section h1 {
    font-size: 4.1rem; 
    margin-bottom: 25px;
  }

  .hero-section p.subtext {
    font-size: 2.2rem; 
  }

  .cta-box {
    padding: 15px;
  }

  .cta-box h2 {
    font-size: 3.3rem; 
  }

  .cta-box p {
    font-size: 20px; 
  }

  .cta-box a.cta-button {
    font-size: 14px; 
    padding: 10px 20px; 
  }
}


@media (max-width: 679px) {
  .hero-section {
    height: 500px; 
  }

  .background-img {
    width: 450px; 
    height: 450px;
  }

  .hero-section h1 {
    font-size: 3.5rem; 
    margin-bottom: 25px;
  }

  .hero-section p.subtext {
    font-size: 1.5rem; 
  }

  .cta-box {
    padding: 15px;
  }

  .cta-box h2 {
    font-size: 2.7rem; 
  }

  .cta-box p {
    font-size: 16px; 
  }

  .cta-box a.cta-button {
    font-size: 14px; 
    padding: 10px 20px; 
  }
}

@media (max-width: 588px) {
  .hero-section {
    height: 500px; 
  }

  .background-img {
    width: 450px; 
    height: 450px;
  }

  .hero-section h1 {
    font-size: 3.0rem; 
    margin-bottom: 25px;
  }

  .hero-section p.subtext {
    font-size: 1.5rem; 
  }

  .cta-box {
    padding: 15px;
  }

  .cta-box h2 {
    font-size: 2.5rem; 
  }

  .cta-box p {
    font-size: 16px; 
  }

  .cta-box a.cta-button {
    font-size: 14px; 
    padding: 10px 20px; 
  }
}


@media (max-width: 513px) {
  .hero-section {
    height: 500px; 
  }

  .background-img {
    width: 450px; 
    height: 450px;
  }

  .hero-section h1 {
    font-size: 2.8rem; 
    margin-bottom: 25px;
  }

  .hero-section p.subtext {
    font-size: 1.5rem; 
  }

  .cta-box {
    padding: 15px;
  }

  .cta-box h2 {
    font-size: 2.5rem; 
  }

  .cta-box p {
    font-size: 16px; 
  }

  .cta-box a.cta-button {
    font-size: 14px; 
    padding: 10px 20px; 
  }
}



@media (max-width: 480px) {
  .hero-section {
    height: 500px; 
  }

  .background-img {
    width: 350px; 
    height: 350px;
  }

  .hero-section h1 {
    font-size: 2.2rem; 
    margin-bottom: 20px;
  }

  .hero-section p.subtext {
    font-size: 1.5rem; 
  }
  .hero-content{
    margin-left:5px;
    align-items:center;
  }

  .cta-box {
    padding: 15px;
  }

  .cta-box h2 {
    font-size: 2.2rem; 
  }

  .cta-box p {
    font-size: 16px; 
  }

  .cta-box a.cta-button {
    font-size: 14px; 
    padding: 10px 20px; 
  }
}


@media (max-width: 400px) {
  .hero-section h1 {
    font-size: 2.7rem; 
  }
  .hero-section p.subtext{
    font-size:1.6rem;
  }
  .cta-box h2{
    font-size:2.5rem;
  }
}
@media (max-width: 400px) {
  .hero-section {
    height: 650px; 
  }
}




     @media (max-width: 768px) { 
          .features {
            flex-direction: column; 
            align-items: center;     
          }

          .feature {
            width: 80%; 
          }
        }



    @media only screen and (max-width: 768px) { 
      .resources {
      grid-template-columns: 1fr; 
        width: 100%; 
        margin: 20px auto;   
                
      }
    }

    @media only screen and (max-width: 480px) { 
      .resources {
      grid-template-columns: 1fr; 
        width: 100%; 
        margin: 20px auto;           
      }
    }

    @media only screen and (max-width: 768px){
      .button-container{
        flex-direction:column;
        align-content:center;
      }
    }
    @media only screen and (max-width: 768px) { 
      .cards {
        flex-direction: column; 
        align-items: center;     
      }

      .card {
        width: 300px; 
      }
    }

    @media only screen and (max-width: 768px) { 
      .intro {
        width: 75%; 
      }
    }



.reminder-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #004897;
  overflow: hidden;
  height: 550px;
}

.reminder-background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover; 
  z-index: 1;
  top: 200px;
}

.reminder-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reminder-section h1 {
  font-size: 5.5rem;
  color: #004897;
  margin: 0;
  font-family: Montserrat;
  font-weight: 700;
  margin-bottom: 45px;
}

.reminder-section p.subtext {
  font-size: 1.5rem;
  margin: 10px 0 45px;
  text-transform: uppercase;
  font-weight: 700;
  color: #004897;
  font-family: Montserrat;
}

.reminder-cta-box {
  background: rgba(93, 93, 93, 15%);
  padding: 40px 50px;
  border-radius: 12px;
  text-align: left;
  backdrop-filter: blur(20px);
  align-content: center;
}

.reminder-cta-box h2 {
  font-size: 5.0rem;
  color: #004897;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 700;
}

.reminder-cta-box p {
  font-size: 22px;
  color: #004897;
  margin: 20px 0;
}

.reminder-cta-box a.reminder-cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #990000;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.reminder-cta-box a.reminder-cta-button:hover {
  background-color: #cc0000;
  transform: translateY(-2px);
  -webkit-transition: all 0.2s ease-out;
}

.reminder-disclaimer{
  text-align:center;
  font-size: 17px;
  color: #5c6873;
}


@media (max-width: 1200px) {
  .reminder-section {
    height: 650px;  
  }

  .reminder-background-img {
    top: 160px;
    height: 65%; 
  }

  .reminder-section h1 {
    font-size: 4.5rem; 
    margin-bottom: 35px;  
  }

  .reminder-section p.subtext {
    font-size: 1.3rem; 
  }

  .reminder-cta-box {
    padding: 25px;
  }

  .reminder-cta-box h2 {
    font-size: 3.5rem; 
  }

  .reminder-cta-box p {
    font-size: 20px; 
  }

  .reminder-cta-box a.reminder-cta-button {
    font-size: 16px; 
    padding: 12px 24px; 
  }
}


@media (max-width: 1024px) {
  .reminder-section {
    height: 600px; /
  }

  .reminder-background-img {
    top: 160px;
    height: 65%; 
  }

  .reminder-section h1 {
    font-size: 4.0rem; 
    margin-bottom: 30px;
  }

  .reminder-section p.subtext {
    font-size: 1.3rem; 
  }

  .reminder-cta-box {
    padding: 20px;  
  }

  .reminder-cta-box h2 {
    font-size: 3.2rem; 
  }

  .reminder-cta-box p {
    font-size: 18px; 
  }

  .reminder-cta-box a.reminder-cta-button {
    font-size: 16px; 
    padding: 12px 24px; 
  }
}


@media (max-width: 768px) {
  .reminder-section {
    height: 500px;
  }

  .reminder-background-img {
    top: 160px;
    height: 65%;;
  }

  .reminder-section h1 {
    font-size: 3.5rem;
    margin-bottom: 25px;
  }

  .reminder-section p.subtext {
    font-size: 1.2rem; 
  }

  .reminder-cta-box {
    padding: 15px;
  }

  .reminder-cta-box h2 {
    font-size: 2.8rem; 
  }

  .reminder-cta-box p {
    font-size: 16px; 
  }

  .reminder-cta-box a.reminder-cta-button {
    font-size: 14px; 
    padding: 10px 20px; 
  }
}


@media (max-width: 480px) {
  .reminder-section {
    height: 450px; 
  }

  .reminder-background-img {
    top: 160px;
    height: 65%;
  }

  .reminder-section h1 {
    font-size: 3.0rem;
    margin-bottom: 20px;
  }
  .reminder-content{
    margin-left:5px;
  }
  .reminder-section p.subtext {
    font-size: 1.1rem; 
  }

  .reminder-cta-box {
    padding: 15px;
  }

  .reminder-cta-box h2 {
    font-size: 2.3rem; 
  }

  .reminder-cta-box p {
    font-size: 14px;
  }

  .reminder-cta-box a.reminder-cta-button {
    font-size: 14px; 
    padding: 10px 20px; 
  }
}

@media (max-width: 572px){
  .buttons{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}






    .button-container {
      display: flex;
      gap: 30px;
      justify-content:center;
    }
    .button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
.button {
  display: block;
  text-decoration: none;
  color: white;
  border: none;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 6px; 
  background-color: #3874b6; 
  padding: 10px 32px; 
  font-size: 21px;
}

    .button:before{
      content: "\e90e";
      font-family: "Norgen2020" !important;
      margin-right:11px;
    }
    .button.purple {
      background-color: #925b9c;
    }
    .button.green {
      background-color: #a5cc83;
    }
    .button.gray {
      background-color: #719b9d;
    }
    .badge {
      margin-top: 0px;
      background-color: #d42b2b;
      color: white;
      padding: 0px 0px;
      border-radius:25px;
      font-size: 17px;
      text-align: center;
      font-weight:bold;
      padding-top:7px;
      transition: transform 0.3s ease;

    }
    .badge-image {
      max-width: 100%;
      height: 38px;
    }
    
    .badge a{
      text-decoration:none;
    }
      .link-wrapper a{
      text-decoration:none;
    }
    .badge img:nth-child(1){
      margin-bottom:7px;
    }
    {# .link-wrapper a:nth-child(1){
      width:100%;
    } #}

    .badge:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }


    .button-wrapper.gray .badge {
      visibility: hidden;
    }
    .button:hover{
      -webkit-transition: all 0.2s ease-out;
      transform: translateY(-2px);
    }

.services-header h1 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    /* margin: 0 auto; */
    /* margin-top: 20px; */
    margin-bottom: 30px;
    color: black;
    font-family: Montserrat;
}


.workflow-title {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}


.workflow-title h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
    font-weight: 800;
    font-family: Montserrat;
}
.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 45px;
    align-items: end;
    margin-top: 45px;
}

.cell {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 223px;
    width: 279px;
    border-radius:22px;
    background-color:rgb(244 244 244);
    position:relative;
    font-weight:bold;
}

  .cell:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

.cell-content {
    max-height: 0;
    transition: max-height 0.3s ease-out;
    color: #004897;
}

.service-type {
    display: flex;
    align-items: center; 
    justify-content: center;
    
}

.cell h2 {
    color: black;
    font-size: 1.2em;
    padding-top:10px;
        font-family: Montserrat;

}

.cell p {
    font-size: 0.9em;
    line-height: 1.4;
}



.container:before,
.container:after {
    content: " ";
    display: none;
}

.service-img{
  width:111px;
  height:77px;
  margin-top:5px;
}

.link:hover{
  text-decoration:none;
  color:grey;
  -webkit-transition:  all 0.2s ease-out;

}

.table {
    width: 100%;
    margin-bottom: 20px;
}
.table-bordered {
    border: 1px solid black;
    border-collapse: collapse;
}
.table-bordered tr {
    border: 1px solid black;
}


.small-rna-color {
    color: #3874b6 !important;
    font-weight: 600;
}


.rna-seq-color {
    color: #d9747c !important;
    font-weight: 600;
}

.metagenomics-color {
    color: #a5cc83 !important;
    font-weight: 600;
}

.sars-color {
    color: #719b9d !important;
    font-weight: 600;
}



.grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
    column-gap: var(--grid-mobile-horizontal-spacing);
    row-gap: var(--grid-mobile-vertical-spacing);
}



.bioinf img{
  height: 556px;
  width: 420px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.bioinf-info{
  display: flex; 
  align-items: flex-start; 
}

.bioinf-info .content p {
  margin: 0;
  font-size: 18px;
}


.bioinf-info .info {
  font-size: 40px;
  margin: 0;
  color: #3f444a;
  margin-bottom:15px;

}

.bioinf-info .description {
  font-size: 16px;
  line-height: 1.6;
  width:680px;
}

.bioinf-info .a {
  font-size: 40px;
  margin: 0;
  color: #3f444a;
    margin-bottom:15px;

}


.button--secondary{
      display: inline-block;

    padding: 10px 20px;
    color: #004897; 
    border: 2px solid #004897;
    cursor: pointer;
    border-radius: 32px;
      -webkit-transition: all 0.2s ease-out;
      font-size:18px;


}
.button--secondary:hover{
  text-decoration: none;
  transform: translateY(-2px);

}



.service-header{
  display: grid;
  grid-template-rows:auto auto;
  text-align: center;
  top:20px;
}

.subheading{
      font-size: 12px;
    color: gray;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom:0px;

}

.heading {
    font-size: 40px;
    color: #3f444a;
    font-weight: bold;
    margin-top:20px;
    font-family: Montserrat;
}


@media (max-width: 1200px) {
  .bioinf-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bioinf-info .description {
    width: 100%; 
    max-width: 680px; 
    margin: 0 auto; 
  }

  .bioinf img {
    max-width: 100%;
    text-align: center;
    height:auto;
    border-radius:20px;
    margin-top:30px;
  }
}

.compare-table{
  margin-bottom:100px;
}


@media (max-width: 1200px) {
  .compare-table {
    margin-bottom:80px;
  }
}


@media (max-width: 768px) {
  .compare-table .container {
    display: block;
    width: 100%;
    overflow-x: auto; 
  }

  .compare-table table {
    min-width: 800px; 
  }
}


@media (max-width: 991px) {
  .compare-table .container {
    overflow-x: auto; 
    white-space: nowrap; 
  }
}

@media only screen and (max-width: 768px) { 
  .services-container {
    grid-template-columns: repeat(1,1fr); 
    margin: 20px auto;           
  }
      .badge {
    width:100%;   
  }
  .cell {
    width:100%;  
  }
}
@media only screen and (max-width: 480px) { 
      .badge {
    font-size:12px;  
  }
  .cell {
    width:100%;  
  }
}

@media only screen and (max-width: 1200px) { 
  .services-container {
    grid-template-columns: repeat(1,1fr); 
    margin: 20px auto;   
    margin-bottom:80px;        
  }
    .badge {
    width:100%;  
  }
  .cell {
    width:100%;  
  }
  
}

#overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
#ngs-form {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    display: none;
    z-index: 1001;
    box-sizing: border-box;
    overflow-y: auto;
    height: 600px;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.table th, td{
  font-size:18px;
}


@media only screen and (max-width: 768px) { 
  .heading{
    font-size:35px;
  }
}

@media only screen and (max-width: 768px) { 
  .heading{
    font-size:30px;
  }
  .bioinf-info .info{
    font-size:30px;
  }
}







.cell.active .cell-content {
  max-height: none; 
}








.workflow-title {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.workflow-container {
    display: grid
;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 35px;
    align-items: baseline;
    margin-top: 45px;
}

.workflow-cell {
    padding: 16px;
    text-align: center;
    background-color: white;
    transition: transform 0.3sease;
    min-height: 190.82px;
    border-radius: 14px;
}

.workflow-cell img {
    max-width: 100%;
    height: 100px;
}
.workflow-cell h2 {
    color: black;
    font-size: 1.35em;
    margin-bottom: 10px;
    margin-top: -20px;
    font-weight: bold;
    font-family: Montserrat;
}

.workflow-cell-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5sease-in-out;
}

.workflow-cell p {
    font-size: 18px;
    line-height: 1.4;
}


    @media only screen and (max-width: 1200px) { 
      .workflow-container {
        grid-template-columns: repeat(1,1fr); 
        width: 35%; 
        margin: 20px auto;           
      }
    }


    @media only screen and (max-width: 768px) { 
      .workflow-container {
        grid-template-columns: repeat(1,1fr); 
        width: 35%; 
        margin: 20px auto;           
      }
    }


@media (max-width: 480px) {
  .bioinformatics-analysis h2 {
    font-size: 33px; 
  }
  .workflow-title h2{
    font-size: 35px; 
  }
  .row-carousel h3{
    font-size: 35px; 
  }
}



    </style>
</head>


<body>






<section class="hero-section container">
  <div class="hero-content" >
    <p class="subtext">Design to discover</p>
    <h1>Next Generation Sequencing</h1>
    <div class="cta-box">
      <h2>Pushing boundaries where others draw the line</h2>
      <p class = "trial-statement"><b>Free</b> 6 samples pilot trial RNA and Small RNA sequencing on applicable projects&ast;</p>
      <p class = "contact-statement"style="">Contact us today at service@norgenbiotek.com to get your free consultation.</p>
      <a href="/content/service-consultation-request?utm_source=next-generation-sequencing&utm_medium=internal_link&utm_campaign=service_inquiry" class="cta-button">Book Consultation</a>
    </div>
  </div>
  <div class = "reminder-disclaimer">
    <p>&ast;Disclaimer: Offer valid until December 31, 2025. Requests will be evaluated on a case-by-case basis on applicable projects.</p>
  </div>
</section>



{# <section class="services-section" style = "margin-bottom:100px;">
  <div class = "services-header"> <h1>Our Sequencing Services</h1></div>
  <div class="button-container">
    <div class="button-wrapper">
      <button class="button blue">Small RNA (microRNA) Sequencing</button>
      <div class="badge"> <img src = "/sites/default/files/images/icons/trial (1).png"> FREE TRIAL AVAILABLE</div>
    </div>
    <div class="button-wrapper">
      <button class="button purple">RNA Sequencing</button>
      <div class="badge"> <img src = "/sites/default/files/images/icons/marketing.png">FREE TRIAL AVAILABLE</div>
    </div>
    <div class="button-wrapper">
      <button class="button green">Metagenomics Sequencing</button>
      <div class="badge"> <img style = "margin-right:10px;"src = "/sites/default/files/images/icons/discount-tag.png">FREE TRIAL AVAILABLE</div>
    </div>
    <div class="button-wrapper gray">
      <button class="button gray">SARS-CoV-2 Sequencing</button>
      <div class="badge">FREE TRIAL AVAILABLE</div>
    </div>
  </div>
</section> #}



<section>
  <div class = "service-header">
    <h2 class="heading"><strong>Our NGS Service Offerings</strong></h2>
  </div>
  <div class="container">
  <div class="services-container">

  <div class ="link-wrapper">
    <a href="https://norgenbiotek.com/services/small-rna-sequencing">
    <div class="button-wrapper">
    
    <div class="badge"> <img src = "/sites/default/files/images/icons/marketing.png" class = "badge-image" data-nopreview="true" data-ignore-preview="true"> FREE TRIAL AVAILABLE
        
    <div class="cell">

      <img class = "service-img" src="/sites/default/files/images/icons/Small RNA_Blue.svg" alt="icon" data-nopreview="true" data-ignore-preview="true">
      <div class = "service-type">
        <h2>Small RNA-Seq</h2>
      </div>
      <div class="cell-content" >
        <p class="link animate-arrow" >Explore More<span class="icon-wrap">&nbsp;<svg style = "width:30px;height:11px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
        </path></svg>
        </span></p>    
      </div>
    </div>
    
    </div>
    </a>
    </div>
  </div>


  <div class ="link-wrapper">
    <a href="https://norgenbiotek.com/services/rna-sequencing">
    <div class="button-wrapper">
    
    <div class="badge"> <img src = "/sites/default/files/images/icons/marketing.png" class = "badge-image" data-nopreview="true" data-ignore-preview="true"> FREE TRIAL AVAILABLE
        
    <div class="cell">

      <img class = "service-img" src="/sites/default/files/images/icons/RNA SEQ_Red.svg" alt="icon" data-nopreview="true" data-ignore-preview="true">
      <div class = "service-type">
        <h2>RNA-Seq</h2>
      </div>
      <div class="cell-content" >
        <p class="link animate-arrow" >Explore More<span class="icon-wrap">&nbsp;<svg style = "width:30px;height:11px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
        </path></svg>
        </span></p>    
      </div>
    </div>
    
    </div>
    </a>
    </div>
  </div>


  <div class ="link-wrapper" style = "display: flex; justify-content: center;">
    {# <div class="badge"> <img src = "/sites/default/files/images/icons/marketing.png"> FREE TRIAL AVAILABLE #}
    <a  style = "font-size:18px;"href="https://norgenbiotek.com/services/ngs-16s-rrna-microbiome-sequencing">
    <div class="cell">

      <img class = "service-img" src="/sites/default/files/images/icons/Metagenomics.svg" alt="icon" data-nopreview="true" data-ignore-preview="true">
      <div class = "service-type">
        <h2>Metagenomics</h2>
      </div>
      <div class="cell-content">
        <p class="link animate-arrow">Explore More<span class="icon-wrap">&nbsp;<svg style = "width:30px;height:11px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
        </path></svg>
        </span></p>    
      </div>
      {# </div> #}
    </div>
    </a>
  </div>
  {# <div class="badge" > <img src = "/sites/default/files/images/icons/marketing.png"> FREE TRIAL AVAILABLE #}

  {# <div class ="link-wrapper">
    <a href="https://norgenbiotek.com/services/sars-cov-2-sequencing">
    <div class="cell">

      <img class = "service-img" src="//norgen.us/cdn/shop/files/NGS_Icon_COVID19.svg?v=1705603566&width=3200" alt="icon">
      <div class = "service-type">
        <h2>SARS-CoV-2 Seq</h2>
      </div>
      <div class="cell-content">
        <p class="link animate-arrow">Explore More<span class="icon-wrap">&nbsp;<svg style = "width:30px;height:11px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
        </path></svg>
        </span></p>     
      </div>
    </div>
  </div>
    </a>
  </div> #}
</div>
</section>



<section style="background-color: white; padding:40px;" id="custom-workflow">
    <div class="workflow-title">
          <h2>Your NGS Workflow</h2>
    </div>
  <div class="workflow-container container">
    

    <div class="workflow-cell">
      <img data-nopreview="true" data-ignore-preview="true" src="/sites/default/files/images/icons/chat.png" alt="icon" <a href="https://www.flaticon.com/free-icons/chat" title="Chat icons created by Freepik - Flaticon"></a>
      <h2>1. Consultation</h2>

    </div>

    <div class="workflow-cell">
      <img data-nopreview="true" data-ignore-preview="true" src="/sites/default/files/images/icons/shipping.png" alt="icon" <a href="https://www.flaticon.com/free-icons/delivery-car" title="Delivery car icons created by BomSymbols - Flaticon"></a>
      <h2>2. Sample Submission</h2>
    </div>

    <div class="workflow-cell">
      <img data-nopreview="true" data-ignore-preview="true" src="/sites/default/files/images/icons/samples.png" alt="icon">
      <h2>3. Sample Isolation</h2>

    </div>

    <div class="workflow-cell">
      <img data-nopreview="true" data-ignore-preview="true" src="/sites/default/files/images/icons/checkmark.png" alt="icon">
      <h2>4. Quality Control</h2>

    </div>

    <div class="workflow-cell">
      <img data-nopreview="true" data-ignore-preview="true" src="/sites/default/files/images/icons/books.png" alt="icon" <a href="https://www.flaticon.com/free-icons/vector" title="vector icons created by Ylivdesign - Flaticon"></a>
      <h2>5. Library Preparation</h2>

    </div>

    <div class="workflow-cell">
      <img data-nopreview="true" data-ignore-preview="true" src="/sites/default/files/images/icons/machine.png" alt="icon"<a href="https://www.flaticon.com/free-icons/sequence" title="Sequencing icons created by Freepik - Flaticon"></a>
      <h2>6. Sequencing</h2>

    </div>

    <div class="workflow-cell">
      <img data-nopreview="true" data-ignore-preview="true" src="/sites/default/files/images/icons/analysis2.png" alt="icon">
      <h2>7. Bioinformatics Analysis</h2>

    </div>

    <div class="workflow-cell">
      <img data-nopreview="true" data-ignore-preview="true" src="/sites/default/files/images/icons/documentation.png" alt="icon">
      <h2>8. Final Report</h2>

    </div>
  </div>
</section>



<section style = "margin-bottom:90px;">
  <div class = "container">
<div class="bioinf">

  <div class="bioinf-info">
    <div style = "margin-top:15px;" class="content">
        {# <p style = "text-transform:uppercase; font-size:13px; color:#000000;">Bioinformatics</p> #}
        <h2 class="info">
          <strong>Visualize Your Data with Advanced Bioinformatics</strong>
        </h2>
      <div class="description">
        <p style = "margin-bottom:10px;"><strong style = "color:black;">Bioinformatics </strong>has quickly advanced to become an important and powerful application in biological research. It involves a combination of computational and statistical methods to better understand and analyze scientific data, guiding the research community to new opportunities and novel discoveries.</p>
        <p style = "margin-bottom:50px;">Bioinformatics continues to be an essential tool for researchers in many fields including modern molecular biology and clinical research, with its applications leading to significant medical advancements and developments in future research to come.</p>
      </div>

      <a class="button--secondary" onclick="toggleForm()">
        View Sample Report
      </a>

    </div>
        <img src="/sites/default/files/images/NGSImage.jpg">

  </div>

  </div>

</section>
<div id="overlay" style="display: none;">
    <div id="ngs-form">
        <!-- Close button for the form -->
        <button class="close-btn" onclick="toggleForm()">×</button>
        
        <!-- The dynamically injected form (ngs_service) -->
        {{ngs_service}} <!-- This is where the form will be injected or rendered -->
    </div>
</div>


<script>
  function toggleForm() {
      var overlay = document.getElementById("overlay");
      var form = document.getElementById("ngs-form");

      // If the overlay is currently not displayed, show it
      if (overlay.style.display === "none" || overlay.style.display === "") {
          overlay.style.display = "flex";  // Show the overlay
          form.style.display = "block";    // Show the form
      } else {
          overlay.style.display = "none";  // Hide the overlay
          form.style.display = "none";     // Hide the form
      }
  }

  // Close the form if the user clicks outside the form
  document.getElementById("overlay").addEventListener("click", function(event) {
      var form = document.getElementById("ngs-form");

      // Close the form if the click is outside the form (but inside the overlay)
      if (event.target === this) {
          toggleForm();  // This will close the form
      }
  });
</script>
{# <section class="compare-table">
  <div class = "container">
  <table class="table table-bordered table-list table-responsive">
      <tbody>
      <tr>
      <th>NGS Services</th>
      <th>Molecule Of Interest </th>
      <th>Target Of Interest </th>
      <th>Sequencing Platform </th>
      <th>Extraction  Service </th>
      <th>Includes Bioinformatics</th>
      <th>Accepted Sample Types</th>
      <!--<th>Turn around time</th>-->
      </tr>
      <tr>
      <td class="small-rna-color">Small RNA Sequencing</td>
      <td>RNA </td>
      <td>Small non-coding RNA (Such as miRNA)  </td>
      <td>NextSeq 550</td>
      <td>Optional </td>
      <td>Optional </td>
      <td>Exosomes, Plasma/Serum, Urine, Blood, Tissues, FFPE, Saliva**</td>
      <!--<td>3-5 weeks </td>-->
      </tr>
      <tr>
      <td class="rna-seq-color">RNA-seq</td>
      <td>RNA </td>
      <td>Poly A+ selection and rRNA depleted RNA </td>
      <td>Nextseq 2000</td>
      <td>Optional </td>
      <td>Optional </td>
      <td>Exosomes, Plasma/Serum, Urine, Blood, Tissues, FFPE, Saliva**</td>
      <!--<td>3-5 weeks </td>-->
      </tr>
      <tr>
      <td class="metagenomics-color">16S (Metagenomics)</td>
      <td>DNA</td>
      <td>Bacterial populations </td>
      <td>Miseq</td>
      <td>DNA isolation included*</td>
      <td>Optional </td>
      <td>Stool, Urine, Saliva, Swabs, Soil, Plants, Water, Insects **</td>
      <!--<td>3-5 weeks </td>-->
      </tr>
      <tr>
      <td class="metagenomics-color">ITS (Metagenomics)</td>
      <td>DNA</td>
      <td>Fungal populations </td>
      <td>Miseq</td>
      <td>DNA isolation included*</td>
      <td>Optional </td>
      <td>Stool, Urine, Saliva, Swabs, Soil, Plants, Water, Insects **</td>
      <!--<td>3-5 weeks </td>-->
      </tr>
      <tr>
      <td class="metagenomics-color">Shallow shotgun (Metagenomics)</td>
      <td>DNA</td>
      <td>Bacterial populations </td>
      <td>Miseq</td>
      <td>DNA isolation included*</td>
      <td>Optional </td>
      <td>Stool, Urine, Saliva, Swabs, Soil, Plants, Water, Insects **</td>
      <!--<td>3-5 weeks </td>-->
      </tr>
      <tr>
      <td class="sars-color">SARS-CoV-2</td>
      <td>RNA </td>
      <td>SARS-CoV-2 Viral Genome</td>
      <td>NextSeq 550</td>
      <td>RNA isolation included*</td>
      <td>Optional </td>
      <td>Nasopharyngeal Swab and Saliva**</td>
      <!--<td>3-5 weeks </td>-->
      </tr>
      </tbody>
      </table>
  <p style = "font-size:18px;">*Our sequencing workflows are fully customizable to your project requirements</p>
  <p style = "font-size:18px;">**If your sample type isn't listed, please <a href="https://norgenbiotek.com/contact" style = "color: #428bca;"> contact us </a> with your request</p>
  </div>
</section> #}
</body>


</html>