
<style>
  
  
  .cat-btn-opt{
    display:flex;
    gap:10px;
    margin:20px 0;
  }
  .cat-btn-opt img{
    width:25px;
  }
 
 :root {
  --number-of-logos: 16;
    --logo-width: 150px;
    --institutions-logos-gap: 2em;
    --institutions-loop-start: 0px;
    --institutions-loop-end: calc(-1*((150px + 2em + 1px)*var(--number-of-logos)) - 1em - 15px - (1px*(var(--number-of-logos))));
}

@keyframes institutions-loop{
  0%{
        left: var(--institutions-loop-start);
  }
  100%{
        left: var(--institutions-loop-end);
  }
}
  .institution-logos-container {
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}
.institution-logos-container {
    left: 15px;
    white-space: nowrap;
    gap: var(--institutions-logos-gap);
    position: relative;
}
.institution-logos-container::before {
    content: '';
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    width: 10%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    margin: auto;
}
.institution-logos-container::after {
    content: '';
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    width: 10%;
    height: 100%;
    z-index: 1;
    position: absolute;
    right: 0;
    margin: auto;
}
 .institution-logos:first-child {
    margin-right: var(--institutions-logos-gap);
}
 .institution-logos {
    position: relative;
    left: 0;
    display: inline-block;
    white-space: nowrap;
    margin-top: 42px;
    height: 75px;
   padding-left: 20px; 
   padding-right: 20px; 
    width: calc(((150px + 2em + 1px)*var(--number-of-logos)) + 1em);
    animation: institutions-loop 30s infinite linear;;
}
  .institution-logos img {
    width: var(--logo-width);
    object-fit: contain;
    display: inline;
    height: 75px;
    margin-right: var(--institutions-logos-gap);
}
  
  
  .home-client-success-slider .home-client-success, .home-client-success-slider .home-client-success blockquote footer, .home-client-success-slider .home-client-success h2, .client-success-section, .client-success-section .c-content-title-1 > p {
    color: white;
  }
  .home-client-success-slider .home-client-success, .home-client-success-slider .home-client-success blockquote footer, .home-client-success-slider .home-client-success h2, .client-success-section, .client-success-section .c-content-title-1 > p {
    color: white;
  }
  .home-client-success-slider .home-client-success {
    max-width: 900px;
    margin: auto;
  }
  .home-client-success-slider blockquote {
    border-left: none;
  }
  .home-client-success-slider .owl-carousel.c-theme .owl-controls .owl-dot.active {
    background-color: white;
    outline: 1px solid black;
}
.saliva-kits{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    gap:20px;
    margin:75px 0 0;
}

.lead-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
    margin: 25px auto;
    align-items: center;
    gap:40px;
}
.lead-grid form label{
  margin:20px 0 0;
}
.lead-grid form input{
  width:100%;
}
.campaign-lead h3{
  text-align:center;
}
.campaign-lead > div{
  margin:50px 0 0;
}

.campaign-discount p{
  margin:0 !important;
}


.campaign-discount{
  position: fixed;
    top: 300px;
    background: white;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px -3px #323131;
    z-index:2;
    display:none;
    width:550px;
}

form.stool-campaign-lead-capture-2024{
    display:grid;
    gap:21px 5px;
    grid-template-areas: 
    'a b'
    'c c'
    'd d'
    'e f'
    'g g'
    'j j'
    'h h'
    'i i';
}
form.stool-campaign-lead-capture-2024 > .form-group.form-item-fname{
    grid-area: a;
}
form.stool-campaign-lead-capture-2024 > .form-group.form-item-lname{
    grid-area:b;
}
form.stool-campaign-lead-capture-2024 > .form-group.form-item-email{
    grid-area:c;
}
form.stool-campaign-lead-capture-2024 > .form-group.form-item-phone{
    grid-area:d;
}
form.stool-campaign-lead-capture-2024 > .form-group.form-item-job{
    grid-area:e;
}
form.stool-campaign-lead-capture-2024 > .form-group.form-item-company{
    grid-area:f;
}
form.stool-campaign-lead-capture-2024 > .form-group.form-item-country{
    grid-area:g;
}
form.stool-campaign-lead-capture-2024 > .form-group.form-item-subscribe{
    grid-area:h;
}
form.stool-campaign-lead-capture-2024 > .form-group.submit{
    grid-area:i;
}
form.stool-campaign-lead-capture-2024 > .form-item-province-state{
    grid-area:j;
}
.form-item{
  margin:0;
}
.form-group{
  margin:0;
}
.lead-grid form label {
    margin: 0;
}

.text-side{
  background: #f6f9fb;
    padding: 30px 45px;
    color: white;
}
.promo-info-box{
  border: 1px solid #004897;
    padding: 5px 30px;
    margin: 10px 0;
    text-align: center;
    display:grid;
    grid-template-columns: 120px 1fr;
    gap: 65px;
    border-radius: 12px;
    align-items: center;
}
.promo-info-box-order{
  /*background: #2e659f;*/
  background:#004893;
    color: white;
    border-radius: 12px;
    padding: 0px 25px;
}
.promo-info-box-order h3{
  color:white;
}
.promo-info-box > h3{
  font-weight: 800;
  /*color:#2e659f;*/
  color:#004897;
  text-align:left;
  line-height:1;
}
.orange-text{
  /*color:#e87a4d !important;*/
  color:#0f6b7a !important;
}
.campaign-discount p{
  font-size:14px;
}


.form-div > dotlottie-player{
  margin:auto;
}

.norgen-default-btn:hover {
    color: white !important;
}

.owl-carousel .owl-controls {
    margin-top: 0px !important;
}
.home-heading-padding {
    padding-bottom: 30px !important;
}
.container:before{
  display:none;
}
#category{
  padding:10px;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}



/* figure carousel style changes  */
.figure-indicators {
  display: flex;
}

.figure-indicators img {
  max-height: 100px;
}



#norproduct-image-description-carousel,
#norproduct-image-description-carousel-mobile {
  max-width: 800px;
  min-width: 300px;
  margin:auto;
  z-index:1;
}


#norproduct-image-description-carousel.fullscreen button.norproduct-carousel-btn-wrapper {
  width: 70%;
  height: 70%;
}

.carousel-indicators-wrapper .carousel-indicators.norproduct img {
  width: 47px;
  height: 47px;
}

#norproduct-image-description-carousel, #norproduct-image-description-carousel-mobile {
    max-width: 800px;
    min-width: 300px;
    margin-top: 0px;
    background: #fff;
    border-radius: 32px;
    padding: 1em;
    border: 1px solid #ddd;
    transition: background-color 1s, border 1s, border-radius 1s;
    margin: auto;
    z-index: 1;
}
#norproduct-image-description-carousel .carousel-control-prev, #norproduct-image-description-carousel-mobile .carousel-control-prev {
    left: 0;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#norproduct-image-description-carousel .carousel-control-prev, #norproduct-image-description-carousel .carousel-control-next, #norproduct-image-description-carousel-mobile .carousel-control-prev, #norproduct-image-description-carousel-mobile .carousel-control-next {
    z-index: 50;
    background-image: none;
    background: none;
    border-radius: 0;
    border: 0;
    top: 0;
    margin: 0;
    height: 100%;
    color: #000;
}
#norproduct-image-description-carousel .carousel-control-next, #norproduct-image-description-carousel-mobile .carousel-control-next {
    right: 0;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#norproduct-image-description-carousel .carousel-indicators,
#norproduct-image-description-carousel-mobile .carousel-indicators {
  height: 52px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  z-index: 1;
  bottom: 0px;
  transform: translate(25px);
  width: fit-content;
  top: auto;
  left: 0;
  right: 0;
}

#norproduct-image-description-carousel .carousel-indicators .active,
#norproduct-image-description-carousel-mobile .carousel-indicators .active {
  width: 50px;
  height: 50px;
  opacity: 1;
  background: none;
  border: 2px solid #004897;
}

#norproduct-image-description-carousel .carousel-indicators li,
#norproduct-image-description-carousel-mobile .carousel-indicators li {
  width: 50px;
  height: 50px;
  text-indent: 0;
  border-radius: 0px;
  opacity: 1;
  border: none;
  background: none;
}

#norproduct-image-description-carousel.fullscreen,
#norproduct-image-description-carousel-mobile.fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000000;
  margin: auto auto auto auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 0px;
  border: none;
  background-color: #fff;
  transition: background-color 1s, position 1s, left 1s, right 1s, top 1s, bottom 1s, z-index 1s, border 1s, border-radius 1s, max-height 1s, max-width 1s;
}

#norproduct-image-description-carousel.fullscreen .carousel-inner-wrapper,
#norproduct-image-description-carousel-mobile.fullscreen .carousel-inner-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 4em;
}
#norproduct-image-description-carousel.fullscreen .carousel-inner,
#norproduct-image-description-carousel-mobile.fullscreen .carousel-inner {
  width: 80%;
  margin: 1em 10%;
  height: 90%;
}

#norproduct-image-description-carousel.fullscreen .item.norproduct,
#norproduct-image-description-carousel-mobile.fullscreen .item.norproduct {
  width: 100%;
  height: 100%;
}

#norproduct-image-description-carousel.fullscreen .item-wrapper,
#norproduct-image-description-carousel-mobile.fullscreen .item-wrapper {
  max-width: 900px;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

#norproduct-image-description-carousel.fullscreen #close-expanded-carousel,
#norproduct-image-description-carousel.fullscreen #carousel-slide-number,
#norproduct-image-description-carousel-mobile.fullscreen #close-expanded-carousel-mob,
#norproduct-image-description-carousel-mobile.fullscreen #carousel-slide-number-mob {
  display: block;
}

#norproduct-image-description-carousel.fullscreen .item div.fig-caption,
#norproduct-image-description-carousel-mobile.fullscreen .item div.fig-caption {
  visibility: visible;
  overflow: auto;
  opacity: 1;
  height: auto;
  width: auto;
  pointer-events: all;
  transition: opacity 0.5s 0.5s;
  flex-grow: 1;
}

#norproduct-image-description-carousel.fullscreen img.norproduct-carousel,
#norproduct-image-description-carousel-mobile.fullscreen img.norproduct-carousel {
  max-height: 100%;
  zoom: 2;
}

#norproduct-image-description-carousel.fullscreen .carousel-indicators-wrapper,
#norproduct-image-description-carousel-mobile.fullscreen .carousel-indicators-wrapper {
  zoom: 1.25;
}

#norproduct-image-description-carousel.fullscreen .blur-edges,
#norproduct-image-description-carousel-mobile.fullscreen .blur-edges {
  background-color: #fff;
  box-shadow: 0 0 15px 10px #fff;
  transition: all 1s;
}

/* Side Nav */
  .side-nav-reading {
    position: fixed;
    left: 0px;
    top: calc(50% + 45px);
    z-index: 1;
    transform: translateY(-50%);
    width: calc(14% + 30px);
    max-width: 215px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    opacity: 0;
    visibility: hidden;
  }

  .side-nav-reading li {
    position: relative;
    transform: translate3d(-100%, 0px, 0px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
  }

  .side-nav-reading a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: #746d6d;
    border-bottom: none;
    padding-left: 36px;
    margin-bottom: 30px;
    transition-timing-function: ease-in-out;
  }

  .side-nav-reading li::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: -20px;
    width: 50px;
    height: 1px;
    background: #746d6d;
  }

  .side-nav-reading li.active {
    color: #004897;
    transform: translateX(20px) !important;
  }

  .side-nav-reading li.active a {
    color: #004897;
  }

  .side-nav-reading li.active::before {
    background: #004897;
  }

  .side-nav-reading.is-visible {
    opacity: 1;
    visibility: visible;
  }

  .side-nav-reading.is-visible li {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
    margin-bottom: 8%;
  }

 .campaign-buy .promo-info-box{
    margin:0;
  }


.promo-grid-buy{
  display:grid;grid-template-columns:1fr 1fr;gap:10px 20px;
  grid-template-rows: 1fr 1fr;
}
.c-content-title-1 h3 {
    font-size: 42px;
    color:#0f6b7a;
}
.overview-grid{
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin:100px auto 0px;
}
.overview-grid-image{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.overview-grid h3{
  color:#0f6b7a;
  font-size:22px;
}
.overlay-form1{
        position: absolute;
    background: #ffffff69;
    bottom: 0;
    top:0;
    backdrop-filter: blur(15px);
    padding: 100px;
  }
  .save-text{
color:#be1e2d !important;
    font-weight: 800;

         /* text-shadow: 2px 2px 4px #be1e2d52, 3px 4px 4px #be1e2d38, 4px 6px 4px #be1e2d24, 5px 8px 4px #be1e2d00;*/
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  50%{
    opacity:0%;
  }
  100% {
    opacity: 100%;
  }
}
.home-page-banner {
    /* background-image: url('/sites/default/files/new-banner.jpg'); */
    animation:1s ease-in-out 0s 1 fadeIn;
    background-image: url('/sites/default/files/images/campaigns/saliva-2024/saliva-campaign-banner-1.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-position: right;
    background-size: contain;
    background-color: #ffffff;
    border-bottom: 3px solid #004897;
  }
  .home-page-banner h1{
    font-size:68px;
    line-height:1.1;
    color:#6d89b9;
    font-weight:800;
    margin-bottom:20px;
  }
  .home-page-banner .c-title > span{
    color:#6d89b9;
    font-size:24px;
    line-height:1.1;
  }
  .home-page-banner .c-title > p{
    color:#6d89b9;
    font-size:18px;
    line-height:1.1;
    margin-top:10px;
  }

  .home-page-banner.variant-2{
    background-image: url('/sites/default/files/images/campaigns/saliva-2024/saliva-campaign-banner-2-assets-only.png'), url('/sites/default/files/images/campaigns/saliva-2024/saliva-campaign-banner-2-empty-bg.jpg');
    background-size: contain, cover;
  }
  .home-page-banner.variant-2 h1{
    color:#ffffff;
    font-weight:800;
    margin-bottom:20px;
  }
  .home-page-banner.variant-2 .c-title > span{
    color:#ffffff;
  }
  .home-page-banner.variant-2 .c-title > p{
    color:#ffffff;
  }

  @media only screen and (max-width:1800px) {
    .home-page-banner {
      background-image: url('/sites/default/files/images/campaigns/saliva-2024/saliva-campaign-banner-1.jpg');
    }
    .home-page-banner.variant-2{
      background-image: url('/sites/default/files/images/campaigns/saliva-2024/saliva-campaign-banner-2-assets-only.png'), url('/sites/default/files/images/campaigns/saliva-2024/saliva-campaign-banner-2-empty-bg.jpg');
    }
  }

  @media only screen and (max-width:1200px){
    .home-page-banner.variant-2{
      background-image: linear-gradient(to right, rgba(109, 137, 185, 0.8), rgba(109, 137, 185, 0.8)), url('/sites/default/files/images/campaigns/saliva-2024/saliva-campaign-banner-2.jpg');
      background-size: cover;
    }
  }

  @media only screen and (max-width:991px) {

    /* home-page-banner{
    background-position: right;
  } */
    .home-page-banner {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/sites/default/files/images/campaigns/saliva-2024/saliva-campaign-banner-1.jpg');
      background-size: cover;
    }
    .home-page-banner.variant-2{
      background-image: linear-gradient(to right, rgba(109, 137, 185, 0.8), rgba(109, 137, 185, 0.8)), url('/sites/default/files/images/campaigns/saliva-2024/saliva-campaign-banner-2.jpg');
      background-size: cover;
    }

    .home-page-banner .norgen-default-btn {
      font-size: 1em;
    }

    .home-page-banner h1{
      font-size:48px;
    }
  }
.product-div p {
  color:#5c6873;
}
  .page-grid{
    position:relative; 
    margin: 20px 70px;
  }
  
  .campaign-book{
    height: 800px;
    width: 700px;
    
   
  }
  .arrow-page{
    position: relative;
    top: -50%;
  }
  .arrow-page div{
    position: absolute;
    padding:0 15px;
  }
  .next-arrow{
    right:0;
  }
  .next-arrow:hover{
    cursor: pointer;
  }
  .prev-arrow{
    left:0;
  }
  .prev-arrow:hover{
    cursor: pointer;
  }
  .page{
  display:none;
  }
  .lead-grid > img:hover{
    cursor: pointer;
  }
 
  .prev-arrow{
  display:none;
  }
  @media only screen and (max-width: 600px) {
  .campaign-book{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow:scroll;
  }
  .campaign-book h2{
    font-size:24px;
  }
  .campaign-book h3{
    font-size:12px;
  }
 
  form.stool-campaign-lead-capture-2024 {
    grid-template-areas:'a'
                       'b'
                       'c'
                       'd'
                       'e'
                       'f'
                       'g'
                       'j'
                       'h'
                       'i';
  }
  .overlay-form1{
    padding:40px;
  }
  }
  @media only screen and (max-height: 900px) {
  .campaign-discount{
    height:75%;
    overflow-y:scroll;
    top:60%;
  }
  .transparent-tube{
  display:none;
  }
}

@keyframes truck_moving{
  0%{
      opacity:1;
    right:100%;
  }
  
  100%{
  opacity:1;
    right:0;
  }
}

.delivery-truck{
  animation: 3s truck_moving forwards;
  animation-delay:6s;
  right:100%;
  position:absolute;
  top:0px;
  opacity:0;
  width:170px;
}
.savings-div{
  background: aliceblue;
  width:100%;
  animation: 3s show_div linear; 
  animation-delay:6s;
  padding: 10px 20px 20px;
}

@keyframes show_div{
  0%{
    width:0%;
  }
  100%{
    width:100%;
  }
}
@keyframes animate {
  0% { 
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
.savings-div h2{
  font-size: 30px;
  color: black;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  width:0px;
  animation: 3s animate forwards; 
  animation-delay: 6s;
  
}
.savings-div p{
  font-size: 14px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  width:0px;
  animation: 3s animate forwards; 
  animation-delay: 6s;
  letter-spacing: 2px;
}
.potion-bottle{
    opacity:0;
      width: 66px;
    position: absolute;
    top: -40px;
    right: 10px;
    transform: rotate(15deg);
    animation: slide-down 3s forwards;
    animation-delay:9s;
}
.sale-tag{
    opacity:0;
    width: 64px;
    position: absolute;
        top: -40px;
    right: 130px;
    transform: rotate(-15deg);
    animation: slide-down 3s forwards;
    animation-delay:9.5s;
}
.collection-icon{
    opacity:0;
    width: 34px;
    position: absolute;
        top: -70px;
    right: 87px;
    transform: rotate(-8deg);
    animation: slide-down 3s forwards;
    animation-delay:10s;
}
.float-animation{
  animation: float 3s infinite;
}
@keyframes float {
  0% {
  opacity:1;
    top: -30px;
  }
  50% {
  opacity:1;
    top: -40px;
  }
  100% {
  opacity:1;
    top: -30px;
  }
}
@keyframes slide-down{
  0%{
  opacity:0;
  top:-100px;
  }
  100%{
  opacity:1;
  top:-30px;
  }
}

.circular--square { border-radius: 50%; }
.circular--square { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    width: 90px; }

    #wrapper-circle {
        width: 70%;
        display:table;
        margin: auto;
    }
    #wrapper-circle > div {
        display: inline-block;
    }
    .circle {
        position:relative;
        padding: 20px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
        /*z-index: 999;*/
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .line-top {
        width: 14vw;
        height:60px;
        z-index: -1;
        background: transparent;
        border: none;
        border-top: dashed 2px orange;
        padding: 40px 40px;
        border-radius: 50%;
        margin: 20px -50px 0;
    }
    .line-bottom {
        width: 14vw;
        height:60px;
        z-index: -1;
        background: transparent;
        border: none;
        border-bottom: dashed 2px orange;
        padding: 40px 40px;
        border-radius: 0 0 50% 50%;
        margin: 0 -65px;
    }
    .circle{
    position:relative;
    }
    .circle p{
      position:absolute;
      top:160px;
      left: 0;
      width: 100%;
      text-align:center;
    }
    .Limited_time_offer_section_grid{
    display:grid;
    grid-template-columns:30% 70%;
    
    align-items: center;
    gap:30px;
    }
    #first-tier{
    grid-area:first-tier;
    }
    #second-tier{
    grid-area:second-tier;
    }
    #third-tier{
    grid-area:third-tier;
    }
    .Limited_time_offer_section{
    
    padding: 100px 50px;
    }
    .Limited_time_offer_section h2{
            font-size: 50px;
    font-weight: 900;
    line-height:normal;
    }
    .promo-grid-buy-limited{
      display: grid;
      grid-template-areas: "first-tier second-tier"
                         "third-tier third-tier";
      gap: 10px 20px;
      width: auto;
    }
    .promo-grid-buy-limited > div{
    
    padding: 15px 30px;
    margin: 10px 0;
   
    border-radius: 12px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: white;
    }
    #wrapper-circle h2{
        font-size: 50px;
    font-weight: 900;
    text-align: center;
    }
.popup-campaign{
  position: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    z-index: 999;
    color: #fff;
    bottom: -100%;
    animation: 3s bottomup forwards;
    animation-delay:3s;
    box-shadow: rgb(149 157 165 / 87%) 0px 8px 24px;
    background:aliceblue;
}
#campaign-btn{
  opacity:0;
  animation:opacity 1s forwards;
  animation-delay:9s;
}

@keyframes bottomup{
  0%{
  bottom:-100%;
  }
  100%{
  bottom:0;
  }
}

.side-graphic{
  width:500px;
  height:350px;
    background:url("/sites/default/files/images/saliva-campaign/Untitled-1.png");
    background-size: cover;
    animation: 10s spit infinite;
    animation-delay:3s;
}
@keyframes spit{
  0%{
      background-position: 0px -0px;
  }
  20%{
    background-position: 0px -440px;
  }
  40%{
    background-position: 0px -850px;
  }
  60%{
    background-position: 0px -1250px;
  }
  80%{
    background-position: 0px -1650px;
  }
  100%{
    background-position: 0px -0px;
  }
}
@keyframes opacity{
  0%{
  opacity:0;
  }
  100%{
  opacity:1;
  }
}
.animated-section-grid{
  display:grid;
  grid-template-columns:auto auto;
  align-items: center;
}
.animated-section-grid h3{
    font-size: 40px;
    font-weight: 800;
    color:#0f6b7a;
}
.animated-section-grid h4{
  font-size: 25px;
}

.wrapper3 {
  height: 500px;
  width: 100%;
  position: relative;
   display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper3 h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size: 40px;
  font-weight: 888;
  text-transform: uppercase;
}
.wrapper3 .bubble {
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
}
div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}
.wrapper3 .bubble:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate2 8s linear infinite;
}
.wrapper3 .bubble:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate2 10s linear infinite;
}
.wrapper .bubble:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate2 3s linear infinite;
}
.wrapper3 .bubble:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate2 7s linear infinite;
}
.wrapper3 .bubble:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate2 9s linear infinite;
}
.wrapper3 .bubble:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate2 5s linear infinite;
}
.wrapper3 .bubble:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate2 8s linear infinite;
}
.wrapper3 .bubble:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate2 10s linear infinite;
}
.wrapper3 .bubble:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate2 6s linear infinite;
}
.wrapper3 .bubble:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate2 10s linear infinite;
}
.wrapper3 .bubble:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate2 9s linear infinite;
}
.wrapper3 .bubble:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate2 7s linear infinite;
}
.wrapper3 .bubble:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate2 8s linear infinite;
}
.wrapper3 .bubble:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate2 6s linear infinite;
}
.wrapper3 .bubble:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate2 9s linear infinite;
}
@keyframes animate2 {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}
#overview2 h2{
  font-size:50px;
  font-weight:900;
}
.Limited_time_offer_section .container:after{
  display:none;
}
.c-content-box.c-size-md {
    padding: 135px 0;
}
.count-down-timer{
  display:flex;
  gap:30px;
  flex-wrap: wrap;
}
.timer-div2{
  padding:10px 10px;
  text-align:center;
  border-radius:8px;
  background: #004897;
  color:white;
  font-size:35px;
  width:90px;
   background:
                linear-gradient(#004897de, #004897de) top, 
                linear-gradient(#004897, #004897) bottom;
                background-size: 100% 50%;
            background-repeat: no-repeat;
            margin-bottom: 0;
            letter-spacing:3px;
}
.timer-div{
  text-align:center;
}
#edit-signup-mailing{
      display: flex;
    gap: 40px;
}
legend{
  margin-bottom:10px !important;
}
.new-prods-soon{
  background:#0048971f;
  padding:100px 50px;
}
.new-prods-soon h3{
  font-size: 50px;
    line-height: 1.2;
    font-weight: 800;
}
.email-country{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:40px;
  margin:20px 0;
}
.c-checkbox{
  margin-bottom:20px;
}
@media only screen and (max-width: 1200px){
  .delivery-truck{
    display:none;
  }
  .potion-bottle{
  display:none;
  }
  .sale-tag{
  display:none;
  }
  .collection-icon{
  display:none;
  }
}
@media only screen and (max-width: 992px){
  .savings-div h2{
    font-size:25px;
    
  }
  .close{
  position:absolute;
  right:0;
  }
  .email-country{
        grid-template-columns: auto;
  }
}
@media only screen and (max-width: 969px){
  #wrapper-circle {
    width: 100%;
  }
  .line-top{
    width:25vw;
  }
  .line-bottom {
    width: 25vw;
  }
  .overview-grid {
    grid-template-rows: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px){
  .savings-div{
    width:fit-content;
  }
  .popup-campaign > div{
    width: fit-content;
  }
  #edit-submit{
      width: -webkit-fill-available;
    white-space: pre-wrap;
  }
}
@media only screen and (max-width: 645px){
  .savings-div{
    width:60%;
    padding:5px 5px;
  }
}

@media only screen and (max-width: 740px){
  .Limited_time_offer_section_grid {
        grid-template-columns: auto;
  }
  .animated-section-grid {
  grid-template-columns: auto;
  }
}
@media only screen and (max-width: 550px){
.savings-div{
    width: fit-content;
    
  }
  #wrapper-circle {
    width: 100%;
  }
  .line-top{
    display:none !important;
  }
  .line-bottom {
    display:none !important;
  }
  .circle{
    width:200px;
    height:200px;
  }
  #wrapper-circle{
      display: flex;
    flex-direction: column;
    gap: 149px;
    justify-content: center;
    align-items: center;
  }
  .promo-grid-buy-limited {
    grid-template-areas: "first-tier"
                         "second-tier"
                         "third-tier";
  }
 
  .side-graphic{
    width:auto;
  }
  .overview-grid {
    grid-template-rows: auto 1fr;
}
}


.random-div {
  display: flex;
  flex-direction: column;
  margin: 0em auto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  padding: 100px 0 0;
}
.random-div h2{
  font-size: 35px;
    margin: 10px 0;
    font-weight: 900;
}
.random-word {
  display: inline-block;
  text-transform: uppercase;
  color: #0f6b7a;
  letter-spacing: 3px;
  width: auto;
/*   transition: all 1.25s; */
  animation: slidedown 3s infinite;
  -webkit-animation: slidedown 3s infinite;
  -moz-animation: slidedown 3s infinite;
  font-weight:600;
}

@keyframes slidedown {
  0% {
    opacity: 50;
  }
  
  5% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  
  7% {
    transform: translateY(-1em);
  }
  
  10% {
    opacity: 0;
  }
  
  20% {
    transform: translateY(0);
    opacity: 100;
  }
}

@media only screen and (max-width: 1200px) {
  .lead-grid{
    grid-template-columns:1fr;
  }
}
@media only screen and (max-width: 1000px) {
  .overview-grid{
    grid-template-columns:1fr;
    grid-template-rows:300px 1fr;
    margin:0 10px;
  }
  .promo-grid{
    grid-template-columns: 1fr;
  }
  .overview-grid-image{
    background-size:contain;
  } 
}
@media only screen and (max-width: 800px) {
  
  
   
.lead-grid {
   
    grid-template-columns: 1fr;
   
}
.promo-grid-buy{
  grid-template-columns:1fr;
}
.overview-grid{
  grid-template-colums:1fr;
}
}
@media only screen and (max-width: 750px) {
  .campaign-discount{
    width:100%;
  }
}
@media only screen and (max-width: 600px) {
  .spit-section{
    padding:50px 15px;
    text-align:center;
  }
  .count-down-timer{
    justify-content: center;
  }
  .Limited_time_offer_section {
    padding: 50px 15px !important;
    text-align: center;
  }
  .Limited_time_offer_section_grid{
    padding:0;
  }
  .Limited_time_offer_section_grid .container{
    padding:0;
  }
  .overview-section{
    padding: 50px 15px;
    text-align: center;
    word-break: break-word;
  }
  .random-div{
  padding: 50px 15px;
    text-align: center;
  }
  .campaign-buy{
  margin:0 10px;
      padding: 50px 15px;
    text-align: center;
  }
  #contact-section{
      padding: 50px 15px;
    text-align: center;
  }
  .campaign-testimonials{
    padding: 50px 15px;
    text-align: center;
    word-break: break-word;
  }
  #category {
    width: -webkit-fill-available;
}
.rnapoints{
  text-align:left;
}
  .campaign-benefits{
  margin:0 10px;
  }
  .saliva-kits {
      grid-template-columns: 1fr 1fr;
    }
    
    
    .campaign-benefits{
    padding:0 60px;
    }
    .campaign-lead{
    padding: 0 60px;
    }
}
@media only screen and (max-width: 440px) {
  .promo-info-box{
    grid-template-columns:1fr;
    gap:0;
  }
  .text-side h1{
    font-size:40px !important;
  }
}
@media only screen and (max-width: 400px) {
  .saliva-kits {
      grid-template-columns: 1fr;
    }
}
#block-jango-breadcrumbs{
  display:none;
}

.btn.c-btn-border-2x{
  padding: 11px 26px 9px 26px;
}
.cat-btn-opt-grid{
  display:flex;
  gap:10px;
}
.dropbtn {
    background-color: white;
    border: 1px solid #777;
    color: #4c4c4c;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid lightgray;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color:#4c4c4c;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.spit-grid{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.intro-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  justify-items: center;
    align-items: center;
    gap:40px;
    padding: 100px 0;
}
.intro-text h2{
  font-weight: 800;
    font-size: 40px;
    margin-bottom: 0;
    line-height: 0.8;
}
.intro-text h1{
  font-weight: 900;
    font-size: 80px;
    margin-top: 0;
    line-height: 0.8;
}
.intro-text h3{
  font-size: 40px;
    text-decoration: overline;
    font-style: italic;
    font-weight: 300;
}
.buy-section{
  text-align:center;
}
.buy-section h2{
  font-size: 50px;
    font-weight: 700;
}
.buy-section h3{
  font-weight: 600;
    font-size: 35px;
    letter-spacing: 5px;
        color: #7fa3cb;
}.info-section{
  text-align:center;
}
.info-section h2{
  font-size: 50px;
    font-weight: 700;
    line-height:1;
    margin:0;
}
.info-section h3{
  font-size: 40px;
    font-weight: 700;
    line-height:1;
    margin:0;
}
.info-section h4{
  font-weight: 600;
    font-size: 35px;
    letter-spacing: 5px;
        color: #7fa3cb;
}
.des-grid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  justify-items: center;
    align-items: center;
    gap:40px;
    padding: 100px 0;
    position:absolute;
    top:0;
    width:1200px;
    transition: all 0.5s linear;
}
.des-slider{
  position:relative;
  height:700px;
  overflow:hidden;
}
.des-grid .field-name-norproduct-keypoints ul{
  list-style:none;
}
.des-grid h2{
  font-size:24px;
}
.container .container{
  width:inherit !important;
}
#carousel-btns{
    position: absolute;
    bottom: 0;
        left: 50%;
    margin-left: -50px;
}
.product-div h4{
  color:#004897;
}
@media only screen and (max-width: 800px) {
  .intro-grid {
    grid-template-columns: auto;
  }
  .des-slider{
    height:1300px;
  }
  .des-grid{
    grid-template-columns:auto;
  }
  #carousel-btns {
    top: 0;
  }

}
@media only screen and (max-width: 600px) {
    .intro-text h1{
        font-size:60px;
    }
    .intro-text h2{
        font-size:30px;
    }
}
@media only screen and (max-width: 600px) {
    .intro-text h1{
        font-size:40px;
    }
    .intro-text h2{
        font-size:20px;
    }
}
</style>

<section>
  <div class="container intro-grid">
    <div class="intro-text">
      <h2>INTRODUCING THE</h2>
      <h1>NEW EXTRACLEAN KITS</h1>
      <h2 style="color:#7fa3cb;">WITH A NEW PURIFICATION METHOD<h2>
      <h3>Free Shipping*</h3>
      <br>
      <a class="btn btn-primary" href="#buy">Buy & Save on Shipping Now</a>
    </div>
    <div>
      <img src="https://norgenbiotek.com/sites/default/files/images/extraclean-campaign/product.jpg">
    </div>
  </div>
</section>
<hr>
<section style="padding:100px 0 0;">
  <div class="container info-section">
    <h2>New Purification Method</h2>
    <h3>Better Performance. Better Results.</h3>
    <hr>
    <h4>Norgen Now Introducing New EXTRAClean Kits</h4>
  </div>
</section>
<section>
  <div class="container des-slider">
    
    <div class="container des-grid" style="left:0">
      <div>
        <h2>EXTRAClean Urine Exosome and Free-Circulating RNA Isolation Kit</h2>
        <p>For the purification of exosomes and the sequential isolation of RNA and free-circulating RNA from different urine sample volumes up to 30 mL</p>
        <hr>
        <p>Available Sizes: Mini, Midi and Maxi</p>
        <a href="https://norgenbiotek.com/product/extraclean-urine-exosome-and-free-circulating-rna-isolation-kit" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Learn More</a>
        <span>|</span>
        <a href="#buy"><span class="glyphicon glyphicon-shopping-cart"></span> Buy Now</a>
      </div>
      <div>
        <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73500.jpg?itok=PAD36s1K">
      </div>
      <div>
        <div class="field-name-norproduct-keypoints">
          <ul>
            <li>Versatile sample input ranges.</li>
            <li>The purified exosomal RNA is free from any circulating RNA-binding proteins.</li>
            <li>No phenol extractions, Proteinase K treatment nor carrier RNA required.</li>
            <li>No time-consuming ultracentrifugation, filtration nor special syringes are required.</li>
            <li>No precipitation reagents nor overnight incubation required.</li>
            <li>Concentrate isolated exosomal RNA and free-circulating RNA into a flexible elution volume ranging from 50 μL to 100 μL.</li>
            <li>Purification is based on EXTRAClean spin column chromatography that uses Norgen’s proprietary resin separation matrix.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container des-grid" style="left:150%">
      <div>
        <h2>EXTRAClean Plasma/Serum Exosome and Free-Circulating RNA Isolation Kit</h2>
        <p>For the purification of exosomes and the sequential isolation of RNA and free-circulating RNA from different plasma/serum sample volumes up to 10 mL</p>
        <hr>
        <p>Available Sizes: Mini, Midi and Maxi</p>
        <a href="https://norgenbiotek.com/product/extraclean-plasmaserum-exosome-and-free-circulating-rna-isolation-kit" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Learn More</a>
        <span>|</span>
        <a href="#buy"><span class="glyphicon glyphicon-shopping-cart"></span> Buy Now</a>
      </div>
      <div>
        <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73400.jpg?itok=SRMp-rZe">
      </div>
      <div>
        <div class="field-name-norproduct-keypoints">
          <ul>
            <li>The purified exosomal RNA is free from any circulating RNA-binding proteins.</li>
            <li>No phenol extractions, Proteinase K treatment, nor carrier RNA.</li>
            <li>No time-consuming ultracentrifugation, filtration nor special syringes are required.</li>
            <li>Concentrate isolated RNA into a flexible elution volume ranging from 50 μL to 100 μL.</li>
            <li>Purification is based on EXTRAClean spin column chromatography that uses Norgen’s proprietary separation matrix.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container des-grid" style="left:300%">
      <div>
        <h2>EXTRAClean RNA Clean-Up and Concentration Micro-Elute Kit</h2>
        <p>For the purification, cleanup and concentration of up to 10 g of RNA isolated using a variety of methods</p>
        <hr>
        <a href="https://norgenbiotek.com/product/extraclean-rna-clean-and-concentration-micro-elute-kit" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Learn More</a>
        <span>|</span>
        <a href="#buy"><span class="glyphicon glyphicon-shopping-cart"></span> Buy Now</a>
      </div>
      <div>
        <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73600.jpg?itok=rDEGmBnk">
      </div>
      <div>
        <div class="field-name-norproduct-keypoints">
          <ul>
            <li>Concentration of small amounts of RNA into 8 L</li>
            <li>Ideal for concentrating RNA purified from exosomes, plasma, serum, urine, and other bodily fluids and any RNA samples initially purified in large volumes</li>
            <li>Efficient RNA cleanup from enzymatic reactions – labeling, DNase treatment and in vitro transcription</li>
            <li>Cleanup of RNA isolated using different methods, including phenol/chloroform extractions</li>
            <li>Fast and easy processing using rapid spin-column format</li>
            <li>Suitable for all sizes of RNA, from large rRNA down to microRNA (miRNA)</li>
            <li>No phenol or chloroform extractions</li>
            <li>Purification is based on EXTRAClean spin column chromatography that uses Norgen’s proprietary separation matrix.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container des-grid" style="left:450%">
      <div>
        <h2>EXTRAClean Exosomal RNA Isolation Kit</h2>
        <p>For the isolation of exosomal RNA from exosomes previously purified using Norgen's Exosome Purification Kits or Norgen’s EXTRAClean Exosome Purification Kits.</p>
        <hr>
        <a href="https://norgenbiotek.com/product/extraclean-exosomal-rna-isolation-kit" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Learn More</a>
        <span>|</span>
        <a href="#buy"><span class="glyphicon glyphicon-shopping-cart"></span> Buy Now</a>
      </div>
      <div>
        <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/72800.jpg?itok=UzhVj5j5">
      </div>
      <div>
        <div class="field-name-norproduct-keypoints">
          <ul>
            <li>Isolates all sizes of exosomal and extracellular vesicle RNA, including microRNA.</li>
            <li>Bind and elute all RNA irrespective of size or GC content, without bias.</li>
            <li>No phenol extractions.</li>
            <li>No Proteinase K treatment.</li>
            <li>No carrier RNA.</li>
            <li>Concentrate isolated RNA into a flexible elution volume ranging from 50 μL to 100 μL.</li>
            <li>Purify high-quality RNA in 15-20 minutes.</li>
            <li>Purified RNA is suitable for a variety of downstream applications, including Small RNA Sequencing.</li>
            <li>Purification is based on EXTRAClean spin column chromatography that uses Norgen’s proprietary separation matrix.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container des-grid" style="left:600%">
      <div>
        <h2>EXTRAClean Cell Culture Media Exosome Purification and RNA Isolation Kits</h2>
        <p>For the purification of exosomes and the subsequent isolation of RNA from different cell culture media sample volumes up to 35 mL</p>
        <hr>
        <p>Available Sizes: Mini, Midi and Maxi</p>
        <a href="https://norgenbiotek.com/product/extraclean-cell-culture-media-exosome-purification-and-rna-isolation-kits" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Learn More</a>
        <span>|</span>
        <a href="#buy"><span class="glyphicon glyphicon-shopping-cart"></span> Buy Now</a>
      </div>
      <div>
        <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73300.jpg?itok=lvd3ohoy">
      </div>
      <div>
        <div class="field-name-norproduct-keypoints">
          <ul>
            <li>Purification and enrichment of intact cell culture media exosomes for functional studies</li>
            <li>No phenol extractions, Proteinase K treatment, nor carrier RNA required</li>
            <li>No time-consuming ultracentrifugation, filtration nor special syringes required</li>
            <li>No precipitation reagents nor overnight incubation required</li>
            <li>Pure exosomes are purified and are free-from any other RNA-binding proteins</li>
            <li>Purification is based on EXTRAClean spin column chromatography that uses Norgen’s proprietary resin separation matrix</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container des-grid" style="left:750%">
      <div>
        <h2>EXTRAClean Plasma/Serum Exosome Purification and RNA Isolation Kits</h2>
        <p>For the purification of exosomes and the subsequent isolation of exosomal RNA from different plasma/serum sample volumes up to 10 mL</p>
        <hr>
        <p>Available Sizes: Mini, Midi and Maxi</p>
        <a href="https://norgenbiotek.com/product/extraclean-plasmaserum-exosome-purification-and-rna-isolation-kits" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Learn More</a>
        <span>|</span>
        <a href="#buy"><span class="glyphicon glyphicon-shopping-cart"></span> Buy Now</a>
      </div>
      <div>
        <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73100.jpg?itok=CX4cUWxc">
      </div>
      <div>
        <div class="field-name-norproduct-keypoints">
          <ul>
            <li>Purification and enrichment of intact plasma/serum exosomes for functional studies.</li>
            <li>Versatile plasma/serum input volume.</li>
            <li>No phenol extractions, Proteinase K treatment, nor carrier RNA required.</li>
            <li>No time-consuming ultracentrifugation, filtration nor special syringes required.</li>
            <li>No precipitation reagents, nor overnight incubation required.</li>
            <li>Compatible with plasma/serum from any species.</li>
            <li>Pure exosomes are purified and are free-from any other RNA-binding proteins.</li>
            <li>Purification is based on EXTRAClean Mini Spin Column chromatography that uses Norgen’s proprietary resin separation matrix.</li>
            <li>The purified RNA is suitable for a variety of downstream applications, including Small RNA Sequencing.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container des-grid" style="left:900%">
      <div>
        <h2>EXTRAClean Urine Exosome Purification and RNA Isolation Kits</h2>
        <p>For the purification of exosomes and the subsequent isolation of RNA from different urine sample volumes up to 35 mL.</p>
        <hr>
        <p>Available Sizes: Mini, Midi and Maxi</p>
        <a href="https://norgenbiotek.com/product/extraclean-urine-exosome-purification-and-rna-isolation-kits" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Learn More</a>
        <span>|</span>
        <a href="#buy"><span class="glyphicon glyphicon-shopping-cart"></span> Buy Now</a>
      </div>
      <div>
        <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73210.jpg?itok=5cGgduD6">
      </div>
      <div>
        <div class="field-name-norproduct-keypoints">
          <ul>
            <li>Purification and enrichment of intact urinary exosomes for functional studies.</li>
            <li>Bind and elute all RNA irrespective of size or GC content, without bias.</li>
            <li>Isolate all sizes of RNA, including microRNA, irrespective of size or GC content, without bias.</li>
            <li>No phenol extractions, Proteinase K treatment, nor carrier RNA required.</li>
            <li>No time-consuming ultracentrifugation, filtration nor special syringes are required.</li>
            <li>No precipitation reagents nor overnight incubation required.</li>
            <li>Compatible with urine from any species.</li>
            <li>Pure exosomes are purified and are free-from any other RNA-binding proteins.</li>
            <li>Purification is based on EXTRAClean spin column chromatography that uses Norgen’s proprietary resin separation matrix.</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="carousel-btns">
        <button id="back-btn" onclick="backward()" ; style="position:relative;z-index:999"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button id="next-btn" onclick="forward()" ; style="position:relative;z-index:999"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
  </div>
</section>

<section style="padding:100px 0 0;">
  <div class="container buy-section">
    <h2>Free Shipping on All Orders*</h2>
    <hr>
    <h3>Buy Today and Save</h3>
  </div>
</section>
<section class="section campaign-buy  c-content-title-1 c-content-box c-size-md" id="buy"> 
  

  <div class="container wow animate fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; opacity: 1;">
      <label for="category" style="font-weight:700;">Select Category: </label>
      <select id="category" name="category" onchange="filter_products()">
        <option value="all">Select a Category</option>
        <option value="cellculture">Cell Culture</option>
        <option value="rna">RNA</option>
        <option value="exosome">Exosome</option>
        <option value="plasmaserum">Plasma/Serum</option>
        <option value="urine">Urine</option>
      </select>

  <div class="saliva-kits">

    <div class="product-div" category="rna">
      <a href="https://norgenbiotek.com/product/extraclean-rna-clean-and-concentration-micro-elute-kit" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73600.jpg?itok=rDEGmBnk">
      <h4>EXTRAClean RNA Clean-Up and Concentration Micro-Elute Kit</h4>
      <p>SKU 73600</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1491" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1491" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1491">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1491" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="exosome rna">
      <a href="https://norgenbiotek.com/product/extraclean-exosomal-rna-isolation-kit" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/72800.jpg?itok=UzhVj5j5">
      <h4>EXTRAClean Exosomal RNA Isolation Kit</h4>
      <p>SKU 72800</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1498" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1498" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1498">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1498" name="op" value="Add to cart">
                </form>
    </div>


    <div class="product-div" category="plasmaserum exosome">
    <a href="https://norgenbiotek.com/product/extraclean-plasmaserum-exosome-and-free-circulating-rna-isolation-kit?v=1508" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73400.jpg?itok=SRMp-rZe">
      <h4>EXTRAClean Plasma/Serum Exosome and Free-Circulating RNA Isolation Mini Kit</h4>
      <p>SKU 73400</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1508" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1508" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1508">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1508" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="plasmaserum exosome">
    <a href="https://norgenbiotek.com/product/extraclean-plasmaserum-exosome-and-free-circulating-rna-isolation-kit?v=1506" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73400.jpg?itok=SRMp-rZe">
      <h4>EXTRAClean Plasma/Serum Exosome and Free-Circulating RNA Isolation Midi Kit</h4>
      <p>SKU 73410</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1506" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1506" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1506">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1506" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="plasmaserum exosome">
    <a href="https://norgenbiotek.com/product/extraclean-plasmaserum-exosome-and-free-circulating-rna-isolation-kit?v=1502" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73400.jpg?itok=SRMp-rZe">
      <h4>EXTRAClean Plasma/Serum Exosome and Free-Circulating RNA Isolation Maxi Kit</h4>
      <p>SKU 73420</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1502" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1502" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1502">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1502" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="urine exosome">
    <a href="https://norgenbiotek.com/product/extraclean-urine-exosome-and-free-circulating-rna-isolation-kit?v=1497" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73500.jpg?itok=PAD36s1K">
      <h4>EXTRAClean Urine Exosome and Free-Circulating RNA Isolation Mini Kit</h4>
      <p>SKU 73500</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1497" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1497" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1497">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1497" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="urine exosome">
    <a href="https://norgenbiotek.com/product/extraclean-urine-exosome-and-free-circulating-rna-isolation-kit?v=1496" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73500.jpg?itok=PAD36s1K">
      <h4>EXTRAClean Urine Exosome and Free-Circulating RNA Isolation Midi Kit</h4>
      <p>SKU 73510</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1496" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1496" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1496">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1496" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="urine exosome">
    <a href="https://norgenbiotek.com/product/extraclean-urine-exosome-and-free-circulating-rna-isolation-kit?v=1492" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73500.jpg?itok=PAD36s1K">
      <h4>EXTRAClean Urine Exosome and Free-Circulating RNA Isolation Maxi Kit</h4>
      <p>SKU 73520</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1492" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1492" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1492">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1492" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="plasmaserum exosome">
    <a href="https://norgenbiotek.com/product/extraclean-plasmaserum-exosome-purification-and-rna-isolation-kits?v=1493" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73100.jpg?itok=CX4cUWxc">
      <h4>EXTRAClean Plasma/Serum Exosome Purification and RNA Isolation Mini Kits</h4>
      <p>SKU 73100</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1493" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1493" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1493">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1493" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="plasmaserum exosome">
    <a href="https://norgenbiotek.com/product/extraclean-plasmaserum-exosome-purification-and-rna-isolation-kits?v=1494" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73100.jpg?itok=CX4cUWxc">
      <h4>EXTRAClean Plasma/Serum Exosome Purification and RNA Isolation Midi Kits</h4>
      <p>SKU 73110</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1494" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1494" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1494">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1494" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="plasmaserum exosome">
    <a href="https://norgenbiotek.com/product/extraclean-plasmaserum-exosome-purification-and-rna-isolation-kits?v=1495" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73100.jpg?itok=CX4cUWxc">
      <h4>EXTRAClean Plasma/Serum Exosome Purification and RNA Isolation Maxi Kits</h4>
      <p>SKU 73110</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1495" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1495" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1495">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1495" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="urine exosome">
    <a href="https://norgenbiotek.com/product/extraclean-urine-exosome-purification-and-rna-isolation-kits?v=1500" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73200.jpg?itok=TYbOR4md">
      <h4> EXTRAClean Urine Exosome Purification and RNA Isolation Mini Kits</h4>
      <p>SKU 73210</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1500" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1500" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1500">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1500" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="urine exosome">
    <a href="https://norgenbiotek.com/product/extraclean-urine-exosome-purification-and-rna-isolation-kits?v=1499" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73200.jpg?itok=TYbOR4md">
      <h4> EXTRAClean Urine Exosome Purification and RNA Isolation Midi Kits</h4>
      <p>SKU 73200</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1499" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1499" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1499">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1499" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="urine exosome">
    <a href="https://norgenbiotek.com/product/extraclean-urine-exosome-purification-and-rna-isolation-kits?v=1501" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73200.jpg?itok=TYbOR4md">
      <h4> EXTRAClean Urine Exosome Purification and RNA Isolation Maxi Kits</h4>
      <p>SKU 73220</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1501" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1501" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1501">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1501" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="cellculture exosome">
    <a href="https://norgenbiotek.com/product/extraclean-cell-culture-media-exosome-purification-and-rna-isolation-kits?v=1503" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73300.jpg?itok=lvd3ohoy">
      <h4>EXTRAClean Cell Culture Media Exosome Purification and RNA Isolation Mini Kits</h4>
      <p>SKU 73300</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1503" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1503" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1503">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1503" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="cellculture exosome">
    <a href="https://norgenbiotek.com/product/extraclean-cell-culture-media-exosome-purification-and-rna-isolation-kits?v=1504" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73300.jpg?itok=lvd3ohoy">
      <h4>EXTRAClean Cell Culture Media Exosome Purification and RNA Isolation Midi Kits</h4>
      <p>SKU 73310</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1504" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1504" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1504">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1504" name="op" value="Add to cart">
                </form>
    </div>

    <div class="product-div" category="cellculture exosome">
    <a href="https://norgenbiotek.com/product/extraclean-cell-culture-media-exosome-purification-and-rna-isolation-kits?v=1505" target="_blank">
      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/73300.jpg?itok=lvd3ohoy">
      <h4>EXTRAClean Cell Culture Media Exosome Purification and RNA Isolation Maxi Kits</h4>
      <p>SKU 73320</p>
      </a>
      <form action="" method="post" id="add-to-cart-variation-1505" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1505" siq_id="autopick_7891">
                  <input type="hidden" id="variation_id" name="variation_id" value="1505">
                  <input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1505" name="op" value="Add to cart">
                </form>
    </div>

  </div>
  <br>
  <br>
  <br>
  <p style="background: #0048972e;padding:10px;"><strong>*Disclaimer:</strong> This promotion applies only to select EXTRACLEAN products. Promotion is available only to customers in Canada or the U.S. Discount not available to Norgen Biotek distributors. Offer cannot be combined with other existing promotions. Offer valid until July 6th, 2024.</p>
  </div>

</section>



{# <div class="home-page-banner">
  <div class="container home-container" style="height: 600px">
    <div class="row" style="height: 100%">
      <div class="col-md-6" style="top: 50%; transform: translateY(-50%)">
        <div class="c-title">
          <span class="c-font-uppercase"><b>Preserve, Capture, Discover</b></span>
          <h1 class="c-left c-font">Free Shipping+</h1>
          <p class="c-left mt-20"><b>On all saliva preservation &amp; nucleic acid isolation.</b></p>
        </div>
        <a class="btn btn-primary mt-20" style="
            padding: 10px 50px;
            visibility: visible;
            animation-delay: 0s;
            animation-name: fadeIn;
            margin-right:10px;
            margin-bottom:10px;
            background-color:#be1e2d;
            border-color:#be1e2d;
          " data-wow-delay="0.00s" href="#buy" role="button">Explore Savings</a>
      </div>
    </div>
  </div>
</div> #}


<!--<section style="background:#ebf5fa;padding:100px 0;" class="spit-section">
  <div class="container wow animate fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; opacity: 1;">
    <h2 style="font-size:50px;font-weight:900;">Spit-acular Savings: Don’t Let This Deal Slip Away!</h2>
    <h2 style="font-size:35px;font-weight:400;color:#0f6b7a;letter-spacing:3px;">BUY TODAY & ENJOY EXCLUSIVE SAVINGS!</h2>
    <h3>This Offer Ends In</h3>
    <div class="count-down-timer">
      <div class="timer-div"><p id="day" class="timer-div2"></p><p style="text-transform:uppercase;letter-spacing:1.5px;font-size:14px;">Days</p></div>

      <div class="timer-div"><p id="hour" class="timer-div2"></p><p style="text-transform:uppercase;letter-spacing:1.5px;font-size:14px;">Hours</p></div>
      <div class="timer-div"><p id="min" class="timer-div2"></p><p style="text-transform:uppercase;letter-spacing:1.5px;font-size:14px;">Minutes</p></div>
      <div class="timer-div"><p id="second" class="timer-div2"></p><p style="text-transform:uppercase;letter-spacing:1.5px;font-size:14px;">Seconds</p></div>
    </div>
  </div>
    
    
  
</section>-->



  
 






<!--<section class="section campaign-lead container c-content-title-1 c-content-box c-size-md" id="access">
  <h2 class="c-font c-center">Access Now: Extracting Biological Insights from Stool</h2>
  
  <p><b>Preview Text:</b> Stool, or feces, is a complex substance excreted from the gastrointestinal tract that is composed of digested food, bacteria, fungi, viruses, protozoa, and host cells. The biological, chemical and physical properties of each stool sample vary based on diet, environment, and the disease/health status of the host.</p>

  <div >
    
    <div class="lead-grid">
        <section class="campaign-book">
  <div class="page-grid">
   <div class="page">
    <img src="/sites/default/files/images/stool-campaign/cover_techicalguide.PNG">
   </div>
   <div class="page">
    <img src="/sites/default/files/images/stool-campaign/page1_technical.PNG">
   </div>
   <div class="page">
    <img src="/sites/default/files/images/stool-campaign/page2_technical.PNG">
   </div>
   <div class="page ">
    <img src="/sites/default/files/images/stool-campaign/page3_technical.PNG">
    <div class="overlay-form1 norgenblue-heading">
    <h2 class="c-font">Get Full Access Now!</h2>
    <hr>
    <h3 style="text-align:left;">Fill out the form and you will get full access to the technical guide!</h3>
   </div>
  </div>
  </div>

  <div class="arrow-page">
  <div class="prev-arrow" onclick="prev_page()">
      <span class="fa fa-2x fa-chevron-left" aria-hidden="true"></span>
    </div>
    <div class="next-arrow" onclick="next_page()">
      <span class="fa fa-2x fa-chevron-right" aria-hidden="true"></span>
    </div>
    
  </div>
</section>  
      <div>
        <div class="norgenblue-heading form-div">
          <h3 class="c-font">Fill out the form now to access the full technical guide</h3>
          <hr>
          <div class="stool-lead-capture">
          {{ stool_campaign_lead_capture_2024 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->



<section class="new-prods-soon">
  <div class="container">
    <h3>Make Sure You Catch Our Upcoming New Products Coming Soon!</h3>
    <p>We will be launching more exciting and new product next week, sign up now to be the first one to know about it</p>
    {{ newproduct_signup }}
  </div>
</section>






<section class="campaign-testimonials ">
  <div class="c-content-box c-size-md" style="padding-top:0;">
    <div class="container wow animate fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; opacity: 1;">
      <div class="c-content-title-1 c-title home-heading-padding">
        <h2 class="c-center c-font" style="font-size:50px;font-weight:900;">Trusted By Leading Institutions</h2>
        
      </div>
      <div class="institution-logos-container">
        <div class="institution-logos">
          {# <img class="lazy" src="/sites/default/files/services/service-customer/harvard.png" srcset="/sites/default/files/services/service-customer/harvard.png 300w, /sites/default/files/services/service-customer/harvard-half.png 150w" alt="Harvard University"> #}
          <img class="lazy" src="/sites/default/files/services/service-customer/SVGs/roswell.svg" alt="Roswell Park Cancer Research">
          <img class="lazy" src="/sites/default/files/services/service-customer/SVGs/sinai.svg" alt="Mount Sinai Beth Israel">
          <img class="lazy" src="/sites/default/files/services/service-customer/SVGs/mayo.svg" alt="Mayo Clinic">
          <img class="lazy" src="/sites/default/files/services/service-customer/SVGs/vineland.svg" alt="Vineland Research and Innovation Centre">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/brainstorm.png" alt="Brainstorm Cell Therapeutics">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/SVGs/bwh.svg" alt="Brigham and Women's Hospital">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/jefferson.png" srcset="/sites/default/files/services/service-customer/jefferson.png 300w, /sites/default/files/services/service-customer/jefferson-half.png 150w" alt="Thomas Jefferson University">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/SVGs/guelph.svg" alt="University of Guelph">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/planck.png" srcset="/sites/default/files/services/service-customer/planck.png 300w, /sites/default/files/services/service-customer/planck-half.png 150w" alt="Max Planck Institute for Medical Research">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/queens.png" srcset="/sites/default/files/services/service-customer/queens.png 300w, /sites/default/files/services/service-customer/queens-half.png 150w" alt="Queen's University">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/SVGs/usda.svg" alt="United States Department of Agriculture">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/warsaw.png" alt="customer">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/zenbio.png" alt="ZenBio">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/maryland.png" srcset="/sites/default/files/services/service-customer/maryland.png 300w, /sites/default/files/services/service-customer/maryland-half.png 150w" alt="University of Maryland School of Medicine">    
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/SVGs/biodesix.svg" alt="Biodesix">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/magee.png" alt="MaGee Women's Research Institute">
        </div>
        <div class="institution-logos">
          {# <img class="lazy" src="/sites/default/files/services/service-customer/harvard.png" srcset="/sites/default/files/services/service-customer/harvard.png 300w, /sites/default/files/services/service-customer/harvard-half.png 150w" alt="Harvard University"> #}
          <img class="lazy" src="/sites/default/files/services/service-customer/SVGs/roswell.svg" alt="Roswell Park Cancer Research">
          <img class="lazy" src="/sites/default/files/services/service-customer/SVGs/sinai.svg" alt="Mount Sinai Beth Israel">
          <img class="lazy" src="/sites/default/files/services/service-customer/SVGs/mayo.svg" alt="Mayo Clinic">
          <img class="lazy" src="/sites/default/files/services/service-customer/SVGs/vineland.svg" alt="Vineland Research and Innovation Centre">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/brainstorm.png" alt="Brainstorm Cell Therapeutics">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/SVGs/bwh.svg" alt="Brigham and Women's Hospital">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/jefferson.png" srcset="/sites/default/files/services/service-customer/jefferson.png 300w, /sites/default/files/services/service-customer/jefferson-half.png 150w" alt="Thomas Jefferson University">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/SVGs/guelph.svg" alt="University of Guelph">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/planck.png" srcset="/sites/default/files/services/service-customer/planck.png 300w, /sites/default/files/services/service-customer/planck-half.png 150w" alt="Max Planck Institute for Medical Research">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/queens.png" srcset="/sites/default/files/services/service-customer/queens.png 300w, /sites/default/files/services/service-customer/queens-half.png 150w" alt="Queen's University">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/SVGs/usda.svg" alt="United States Department of Agriculture">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/warsaw.png" alt="customer">
          <img class="University of Warsaw" loading="lazy" src="/sites/default/files/services/service-customer/zenbio.png" alt="ZenBio">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/maryland.png" srcset="/sites/default/files/services/service-customer/maryland.png 300w, /sites/default/files/services/service-customer/maryland-half.png 150w" alt="University of Maryland School of Medicine">    
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/SVGs/biodesix.svg" alt="Biodesix">
          <img class="lazy" loading="lazy" src="/sites/default/files/services/service-customer/magee.png" alt="MaGee Women's Research Institute">
        </div>
      </div>
    </div>
  </div> 
  

  
</section>



<section class="campaign-discount container c-content-title-1" style="position:relativel">
  <a class="close orange-text" href="#" onclick="close_promo();return false;" style="font-size:60px;margin:0px 10px;">×</a>
  
    <div class="c-content-title-1 text-side">
    <p style="color:#004897;font-weight:700;">LIMITED TIME OFFER ON STOOL PRODUCTS!</p>
      <!--<h2 class="c-font" style="color:white;"><span style="color:#2e659f;">Ready, Set,</span> <span class="orange-text" style="font-weight:600;">Scoop.</span></h2>-->
      <h1 class="orange-text" style="font-weight:700;font-size:60px;line-height:1.1;" >Free <br>Shipping<br>and more!</h1>
      <p style="color:#004897;"> on purchases of <strong><b>Stool Collection & Preservation Devices</b></strong> and <strong><b>Stool Nucleic Acid*</b></strong> </p>
      <div class="promo-info-box">
        <h3>Buy <span style="font-size:28px;">$1000</span></h3>
        <h2 class="orange-text" style="font-size:21px;font-weight:700;">Free Shipping</h2>
      </div>
      <div class="promo-info-box">
        <h3>Buy <span style="font-size:28px;">$1500</span></h3>
        <h4 class="orange-text" style="font-weight:700;">Free Shipping + Free Nuclease-Free Water (500 mL)</h4>
        
      </div>
      <div class="promo-info-box" >
        <h3>Buy <span style="font-size:28px;">$2000</span></h3>
        <h4 class="orange-text" style="font-weight:700;">Free Shipping + Free Nuclease-Free Water (500 mL) + 40% off On <a href="https://norgenbiotek.com/promotions/stool-promotion#smart-save-prod" style="color:#004897;">SMART Save Products</a></h4>
      </div>
      <!--<div class="promo-info-box-order" >
        <h2 style="color:white;font-size:28px;">Order Today</h2>
        <h3>Call us at: <b>1-866-NORGENB</b> or <b>905-227-8848</b> <br>Email us at: <b>orders@norgenbiotek.com</b></h3>
      </div>-->
      <div style="text-align:center;margin:17px 0;">
        <a class="btn btn-primary norgen-default-btn buy-btn" href="#buy">Start Saving Now</a>
      </div>
    </div>
    
    <div style="position:absolute;bottom:-8px;left:-70px;" class="transparent-tube">
      <img src="/sites/default/files/images/stool-campaign/tube_with_transparent.png" style="width:140px;transform:rotate(-9deg);">
    </div>
  
 

</section>


<!--<div class="section c-content-box c-size-md client-success-section" style="background-color:var(--norgen-primary-blue)">
    <div class="container">
      <div
        class="bounceInUp c-content-title-1 c-title home-heading-padding wow"
        style="visibility: visible; animation-name: bounceInUp"
      >
        <p class="caption c-center c-font-uppercase">Client Success</p>
        <div class="home-client-success-slider" data-slider="owl" data-items="1" data-auto-play="20000">
          <div class="owl-carousel owl-theme c-theme">
            <div class="home-client-success c-center">
              <div class="owl-item active">
               
                <div class="full-quote">
                  <blockquote cite="/stories/alex-rolland-improving-cancer-diagnostics-exosomal-ct-dna">
                    <p class="c-font-justify">We have been using Norgen's using the Stool Nucleic Acid Collection and Preservation Tubes and Stool Total RNA Purification Kit for many years for our projects focused on searching fecal biomarkers (small non-coding RNAs and bacterial species) to diagnose colorectal cancer non-invasively. The challenge was to collect stool samples and preserve nucleic acids in a way that patients could collect samples at home and bring to the receiving hospital without rush and preserving the samples. We successfully used the collection tubes for over 1000 samples in the frame of an European project and we were able to extract either RNA and microbial DNA for metagenome analysis.
                    </p>
                    <footer>Barbara Pardini<br><cite>Italian Institute for Genomic Medicine</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="home-client-success c-center">
              <div class="owl-item">
                
                <div class="full-quote">
                  <blockquote cite="/resources/customer-experiences/testimonials">
                    <p class="c-font-justify">In addition, the RNA purification kit proved also to be very efficient in the RNA extraction also from leftover samples derived from the fecal immunochemical test (FIT) used in Italy to screen the general population for colorectal cancer. Moreover, from these types of samples we could run small RNA sequencing from several hundreds of samples. The products worked perfectly and helped us to engage new molecular approaches for implementing colorectal screening in a non-invasive way.
                    </p>
                    <footer>Alessio Naccarati.<br><cite>Italian Institute for Genomic Medicine - IIGM in Torino, Italy</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>-->



<section id="contact-section" class="c-content-box c-size-md">           
  <div class="field field--name-field-secondary-cta field--type-text-with-summary field--label-hidden field__item wow animate fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; opacity: 1;">
  <style>
/* CONTACT US */
.contact-grid {
    display: flex;
    background-color:#fff;
    margin: auto;
    gap: 100px;
    width: fit-content;
align-items: center;
}
.contact-img {
    display:flex;
    flex-direction: column;
}
.contact-img img, .contact-img picture{
    height:20vh;
    width:20vh;
    max-height:400px;
    max-width:400px;
    align-self:center;
}
.fff {
    color: white;
}
.cfcamp-logos {
    font-size: 0;
    margin-top: 24px;
}
.cfcamp-logos img {
    margin-right: 10px;
    max-height: 60px;
    max-width: 150px;
}
#contact-section {
    box-shadow: 0px -20px 20px -15px #e6e6e6;
}
@media only screen and (max-width: 600px){
    .contact-grid {
        flex-direction: column;
        gap: 0px;
    }
}
.btn, .btn-primary, .btn-rna {
    padding: 12px 20px;
}
.check{
  z-index:1 !important;
}

</style>
   
  <div class="vd-wrapper">
      <div class="contact-grid center">
          <div>
              <h2 class="cf-subhead" style="font-size:30px;color:#0f6b7a;">Talk To the Saliva Sample Preparation Experts</h2>
              <p style="font-size:17px;"><b>Our team of dedicated scientists will be happy to learn more about your specific project needs and provide you with the best tools for saliva sample processing.</b></p>
              <div><a id="lets-talk" href="https://norgenbiotek.com/bookmeeting" class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x row" target="_blank" style="background-color:#004897;border-color:#004897;">Book a Free Consultation </a></div>
          </div>
      </div>
  </div>
</div>
</section>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
 
  
  function filter_products(){
    var x = document.getElementById("category").value;
    /* console.log(document.getElementById("category").value);
    console.log("---------------" + x); */
    // URL
    let url = new URL(window.location);
    /*  console.log(url); */
    let searchParams = url.searchParams;

    // clear URL
    searchParams.delete("category");
    // set URL
    searchParams.append("category", x);
        

    var all_prods = document.getElementsByClassName("product-div");

    for(var i = 0; i < all_prods.length; i++){

      if(x == "all"){
        all_prods[i].style.display = "block";
      }
      else{
      var all_cat_array = all_prods[i].getAttribute("category").split(" ");
      for(var j = 0; j < all_cat_array.length; j++){
        if(all_cat_array[j] == x && all_cat_array[j] != "all"){
          /* console.log("display");
          console.log(all_prods[i].getAttribute("category"));
          console.log(x); */
          all_prods[i].style.display = "block";
          break;
        }
        else{
          /* console.log("none"); */
          all_prods[i].style.display = "none";
        }
      }
      }
      
      
    }
    url.hash = "buy";
    window.history.replaceState(null, null, url);
  }

 

  /*var x = document.getElementsByClassName("campaign-discount");
  var overlay = document.getElementById("overlay");
  setTimeout(function(){ x[0].style.display = "block";overlay.style.display = "block"; }, 500);*/

  function close_promo(){
    x[0].style.display = "none";
    overlay.style.display = "none";
  }

  // get URL parameters
  function updateSearchParam(category){
    window.history.replaceState(null, null, "?category="+category+"");
    document.getElementById("category").value = category;
    filter_products();
  }
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  urlParams.forEach((element) => {
    /* console.log(element); */
    document.getElementById("category").value = element;
    filter_products();
  });

const el = document.querySelector(".campaign-nav-sticky")
const observer = new IntersectionObserver( 
  ([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1),
  { threshold: [1] }
);

observer.observe(el);






const sections = document.querySelectorAll(".section");
/* console.log(sections); */
const navLi = document.querySelectorAll(".side-nav-reading li");
/* console.log(navLi); */
window.onscroll = () => {
  var current = "";

  sections.forEach((section) => {
    const sectionTop = section.offsetTop;
    if (pageYOffset >= sectionTop - 60) {
      current = section.getAttribute("id"); }
  });
  /* console.log(current); */

  navLi.forEach((li) => {
    /* console.log(li); */
    li.classList.remove("active");
    if (li.classList.contains(current)) {
      li.classList.add("active");
    }
  });
};

      let processScroll = () => {
    let docElem = document.documentElement,
      docBody = document.body,
      scrollTop = docElem["scrollTop"] || docBody["scrollTop"],
      scrollBottom =
        (docElem["scrollHeight"] || docBody["scrollHeight"]) -
        window.innerHeight /* docElem.scrollHeight */ -
        800 /* subtract 800 for the approximate height of the footer and copyright sections */,
      scrollPercent = (scrollTop / scrollBottom) * 100 + "%";

    
    var y = window.scrollY;
    var side_nav_classlist =
      document.querySelector(".side-nav-reading").classList;
    

    if (y >= 500) {
      side_nav_classlist.add("is-visible");
    } else if (y < 500) {
      side_nav_classlist.remove("is-visible");
      // document.getElementById("back-progress-bar").style.opacity = "0";
    }

    var x = 0;
   

    var body_offset;
    if (window.innerWidth <= 1280 && window.innerHeight >= 720) {
      body_offset = 0.7 * document.body.offsetHeight;
    } else body_offset = document.body.offsetHeight;
    if (window.innerHeight + window.scrollY >= body_offset - 800) {
      /* subtract 800 for the approximate height of the footer and copyright sections */
      side_nav_classlist.remove("is-visible");
    }
    // always hide the side nav bar if it will overlap with the blog's content (when window width is less than 1380px).
    x = window.innerWidth;
    if (x < 1280) {
      side_nav_classlist.remove("is-visible");
    }
  };11
  window.addEventListener("scroll", processScroll);

  $('.buy-btn').click(function( event ) {
    close_promo();
});
/*var pages = document.getElementsByClassName("page");

pages[0].style.display = "block";
var count = 0;
function next_page(){
  var pages = document.getElementsByClassName("page");

  if(count != pages.length-1){
    for(var i = 0; i < pages.length; i++){
      pages[i].style.display = "none";
    }
  }
  
  
  
  if(count < 3){
    count++;
    pages[count].style.display = "block";
    document.getElementsByClassName("prev-arrow")[0].style.display = "block";
    if(count == 3){
      document.getElementsByClassName("overlay-form1")[0].style.display = "block";
      document.getElementsByClassName("next-arrow")[0].style.display = "none";
    }
  }
  console.log("next ", count + "," + pages.length);
}

function prev_page(){
  var pages = document.getElementsByClassName("page");

  if(count != 0){
    for(var i = 0; i < pages.length; i++){
      pages[i].style.display = "none";
    }
  }
  if(count > 0){
    count--;
    pages[count].style.display = "block";
    document.getElementsByClassName("next-arrow")[0].style.display = "block";
    if(count == 0){
      document.getElementsByClassName("prev-arrow")[0].style.display = "none";
    }
  }
  console.log("prev ", count);
}*/




function pad(n) {
    return (n < 10) ? ("0" + n) : n;
}
// Set the date we're counting down to
var countDownDate = new Date("July 29, 2024 15:37:25").getTime();

// Update the count down every 1 second
/* var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("day").innerHTML = pad(days) ;
  document.getElementById("hour").innerHTML = pad(hours) ;
  document.getElementById("min").innerHTML = pad(minutes);
  document.getElementById("second").innerHTML = pad(seconds);
  
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000); */

</script>


<script>
$(document).ready(function() {
    $("#news-slider").owlCarousel({
        items : 3,
        itemsDesktop:[1199,3],
        itemsDesktopSmall:[980,2],
        itemsMobile : [600,1],
        navigation:true,
        navigationText:["",""],
        pagination:true,
        autoPlay:true
    });
});


let i = 0;
const randomizeText = () => {

  const phrase = document.querySelector('.random-word');
  const compStyles = window.getComputedStyle(phrase);
  const animation = compStyles.getPropertyValue('animation');
  const animationTime = parseFloat(animation.match(/\d*[.]?\d+/)) * 1000;
  
  const phrases = ['Personalized medicine and testing', 'Population wide disease screening', 'Forensics', 'Biomarker discovery', 'Liquid biopsy','Ancestry','Health and wellness','Stress, mental health','Personalized microbiome','Personalized pharmacogenomics'];
  
  
  const newPhrase = phrases[i];
  setTimeout(() => {
    phrase.textContent = newPhrase;
  }, 200); // time to allow opacity to hit 0 before changing word
  
  i++;
  if(i == phrases.length){
    i = 0;
  }

}

const randomNum = (num, max) => {
  let j = Math.floor(Math.random() * max);
  
  // ensure diff num every time
  if (num === j) {
    return randomNum(i, max);
  } else {
    return j;
  }
}

const getAnimationTime = () => {
  const phrase = document.querySelector('.random-word');
  const compStyles = window.getComputedStyle(phrase);
  let animation = compStyles.getPropertyValue('animation');
  
  // firefox support for non-shorthand property
  animation != "" ? animation : animation = compStyles.getPropertyValue('-moz-animation-duration');
  
    // webkit support for non-shorthand property
  animation != "" ? animation : animation = compStyles.getPropertyValue('-webkit-animation-duration');
  
  
  const animationTime = parseFloat(animation.match(/\d*[.]?\d+/)) * 1000;
  return animationTime;
}

randomizeText();
setInterval(randomizeText, getAnimationTime());
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script>

function setCookie(cname, cvalue, exdays) {
  const d = new Date();
  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  let expires = "expires="+d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

function checkCookie(cname) {
  let cookie = getCookie(cname);
  if (cookie != "") {
    return true;
  }
  return false;
}

/* randomize home banner shown */
let home_banner = document.querySelector('.home-page-banner');
// set random number: 0 or 1 to represent banner variant option
let random_int = Math.floor(Math.random() * 2) + 1;
var variant_int = random_int;
// check if cookie is set already
if(!checkCookie('banner_variant')){ // cookie not set
  setCookie('banner_variant', random_int, 7); // set the cookie
}
else variant_int = getCookie('banner_variant');
if(variant_int == 2) home_banner.classList.add('variant-2');
var f = 0;

//document.getElementById("next-btn").style.display = "none";
document.getElementById("back-btn").disabled = true;
function forward(){
  var grid = document.getElementsByClassName("des-grid");
     for(var i = 0; i < grid.length; i++){
        var already_left = parseFloat(grid[i].style.left);
        console.log(already_left);
        console.log("f");
        f = already_left - 150;
        console.log(f);
        grid[i].style.left = f + "%";
     }
  console.log(grid.length-1);
  console.log(grid[grid.length-1].style.left );
  if(grid[grid.length-1].style.left =='0%'){
    document.getElementById("next-btn").disabled = true;
    if(grid[0].style.left != '0%'){
          document.getElementById("back-btn").disabled = false;
      }
  }
  else{
      document.getElementById("next-btn").disabled = false;
      if(grid[0].style.left != '0%'){
          document.getElementById("back-btn").disabled = false;
      }
  }
}

function backward(){
  var grid = document.getElementsByClassName("des-grid");
  for(var i = 0; i < grid.length; i++){
    var already_left = parseFloat(grid[i].style.left);
    f = already_left + 150;
    console.log(f);
    grid[i].style.left = f + "%";
  }
  if(grid[0].style.left == '0%'){
    document.getElementById("back-btn").disabled = true;
    if(grid[grid.length-1].style.left != '0%'){
          document.getElementById("next-btn").disabled = false;
      }
  } 
  else{
      document.getElementById("back-btn").disabled = false;
      if(grid[grid.length-1].style.left != '0%'){
          document.getElementById("next-btn").disabled = false;
      }
      
  }
}  
</script>