<div class="center_text">
    <h2 style="font-size:40px;font-weight:700;color: #5c6873;">All Products</h2>
    <div class="after_title">
        <p>
            Get quick access to all Norgen's cutting edge research solutions - including 
            <a href="" style="color: #004897; text-decoration: none;" class="scroll-trigger">
            <span class="highlight"><span class="text-underline">Bestsellers</span></span>
            </a>,
            <a href="products/new" style="color: #004897; text-decoration: none;">New Launches</a> and <a href="/resources/complete-workflows" style="color: #004897; text-decoration: none;">Complete Workflows</a>.
        </p>
    </div>
</div>
<div class="container0">
    <div class=" container">
        <div class="row">
            <!-- Column 1 -->
            <div class="col-lg-3"> 
                <div class="category">
                    <a href="/category/sample-collection-and-preservation" style="display: block; text-decoration: none; color: inherit;">
                        <div class="pre-title pre-title-img1">
                            <div class="title_wrapper">
                                <h2>Collection & Preservation</h2>
                            </div>
                        </div>
                    </a>
                    <div class="main_category">
                        <a href="https:/category/cf-dna-cf-rna-blood">cf-DNA & cf-RNA from Blood</a>
                    </div>
                    <div class="main_category"><a href="/category/urine">Urine</a></div>
                    <div class="main_category"><a href="/category/saliva">Saliva</a></div>
                    <div class="main_category"><a href="/category/stool">Stool</a></div>
                    <div class="main_category"><a href="/category/swab-based">Swab Collection and Preservation</a></div>
                    <div class="main_category"><a href="/product/shipping-accessories-50-mailers">Shipping Accessories</a></div>
                </div>
            </div>


            <!-- Column 2 -->
            <div class="col-lg-3"> 
                <div class="category">
                    <a href="/category/purification-and-isolation" style="display: block; text-decoration: none; color: inherit;">
                        <div class="pre-title pre-title-img2">
                            <div class="title_wrapper">
                                <h2>Purification and Isolation</h2>
                            </div>
                        </div>
                    </a>
                    
                    <div class="main_category">
                        <a href="/category/rna-purification-kits">RNA</a>
                    </div>
                    <div class="subcategory">
                        <a href="/category/cell-free-rna-purification-kits">Cell-Free-RNA-Purification-Kits</a>
                        <a href="/category/total-rna-purification-kits">Total-RNA-Purification-Kits</a>
                        <a href="/category/rna-clean-and-concentration">RNA-Clean-and-Concentration</a>
                        <a href="/category/rna-purification-kits?field_intended_use_value=All&field_storage_temperature_value=All&sort_bef_combine=field_extraclean_boolean_value_DESC"><span class="E-style"><span class="italic-text">EXTRA</span>Clean <br>(for small RNA NGS)</span></a>
                    </div>
                    
                    <div class="main_category">
                        <a href="/category/dna-isolation-kits">DNA</a>
                    </div>
                    <div class="subcategory">
                        <a href="/category/cell-free-dna-isolation">Cell-Free-DNA-Isolation</a>
                        <a href="/category/total-genomic-dna-isolation">Total-Genomic-DNA-Isolation</a>
                        <a href="/category/plasmid-dna-preparation">Plasmid-DNA-Preparation</a>
                        <a href="/category/endotoxin-removal">Endotoxin-Removal</a>
                        <a href="/category/dna-clean-and-concentration">DNA-Clean-and-Concentration</a>
                    </div>
                    
                    <div class="main_category">
                        <a href="/category/exosome-purification-and-rna-isolation-kits">Exosomes</a>
                    </div>
                    <div class="subcategory">
                        <a href="/category/intact-exosome-purification">Intact Exosome Purification</a>
                        <a href="/category/rna-isolation-purified-exosomes">RNA Isolation from Purified Exosomes</a>
                        <a href="/category/intact-exosome-purification-and-exosomal-rna-isolation">Exosomal Purification & Exosomal RNA Isolation</a>
                        <a href="/category/exosome-depletion">Exosome Depletion</a>
                        <a href="/product/exosome-labeling-and-cleaning-kit">Exosome Labeling</a>
                    </div>
                    
                    <div class="main_category">
                        <a href="/category/protein-purification-kits">Protein</a>
                    </div>
                    <div class="subcategory">
                        <a href="/category/inclusion-body-protein-purification">Inclusion-Body-Protein-Purification</a>
                        <a href="/category/protein-clean-concentration-and-endotoxin-removal">Protein-Clean-Concentration</a>
                        <a href="/category/urine-protein-concentration">Urine-Protein-Concentration</a>
                        <a href="/product/abundant-serum-protein-depletion-kit">Serum-Protein-Depletion</a>
                        <a href="/product/proteospin-column-proteolyt">Proteospin-Column-Digestion</a>
                    </div>
                    <div class="main_category">
                        <a href="/category/multiple-analyte-kits">Multiple-Analyte Kits</a>
                    </div>
                    <div class="main_category">
                        <a href="/category/virus-purification">Virus Purification</a>
                    </div>
                </div>
            </div>

            <!-- Column 4 -->
            <div class="col-lg-3"> 
                <div class="category">
                    <a href="/category/lab-components" style="display: block; text-decoration: none; color: inherit;">
                        <div class="pre-title pre-title-img4">
                            <div class="title_wrapper">
                                <h2>Lab Components</h2>
                            </div>
                        </div>
                    </a>
                    <div class="main_category">
                        <a href="/category/dna-and-rna-ladders">DNA and RNA ladders</a>
                    </div>
                    <div class="subcategory">
                        <a href="/category/dna-ladders">DNA-ladders</a>
                        <a href="/category/rna-ladders">RNA-ladders</a>
                        <a href="/product/internal-lane-standard-60bp-600bp-rox-abi-genetic-analyzer">Internal-Lane-Standard</a>
                    </div>
                    <div class="main_category">
                        <a href="/category/enzymes">Enzymes</a>
                    </div>
                    <div class="main_category">
                        <a href="/category/pcr-reagents">PCR Reagents</a>
                    </div>
                    <div class="main_category">
                        <a href="/product/ultrapure-nuclease-free-water">Ultrapure Nuclease-Free Water</a>
                    </div>
                </div>
            </div>


            <!-- Column 3 -->
            <div class="col-lg-3">
                <div class="category">
                    <a href="/category/analysis" style="display: block; text-decoration: none; color: inherit;">
                        <div class="pre-title pre-title-img3">
                            <div class="title_wrapper">
                                <h2>Analysis & Services</h2>
                            </div>
                        </div>
                    </a>
                    <div class="main_category">
                        <a href="/category/clean-concentration">Clean up and Concentration</a>
                    </div>
                    <div class="subcategory">
                        <a href="/category/rna-clean-and-concentration">RNA-Clean-and-Concentration</a>
                        <a href="/category/dna-clean-and-concentration">DNA-Clean-and-Concentration</a>
                        <a href="/category/protein-clean-concentration-and-endotoxin-removal">Protein-Clean-Concentration</a>
                    </div>
                    <div class="main_category">
                        <a href="/category/normalization-quantification">Normalization & Quantification</a>
                    </div>
                    <div class="main_category">
                        <a href="/category/ngs-library-preparation-kits">NGS-Library-Preparation-Kits</a>
                    </div>
                    <div class="subcategory">
                        <a href="/category/small-rna-library-prep-kits">Small-RNA-Library-Prep-Kits</a>
                        <a href="/category/16s-rrna-library-prep-kits">16S-RNA-Library-Prep-Kits</a>
                        <a href="/category/its-library-preparation-kits">ITS-Library-Preparation-Kits</a> 
                    </div>
                    <div class="main_category">
                        <a href="/category/pcr-based-detection">PCR-Based Detection</a>
                    </div>
                    <div class="subcategory">
                        <a href="/category/pcr-based-detection?field_environmental_value=1&field_intended_use_value=All&field_storage_temperature_value=All&sort_bef_combine=field_sale_promotion_value_DESC">
                            <span class="L-style">Lyophilized Kits <br>(no Dry-ice shipment)</span>
                        </a>
                        <a href="/category/human-pathogen-detection">Human</a>
                        <a href="/category/plant-pathogen-detection">Plant</a>
                        <a href="/category/food-and-milk-pathogen-detection">Food and Milk</a>
                        <a href="/category/waterborne-pathogen-detection">WaterBorne</a>
                        <a href="/category/mycoplasma-detection">Mycoplasma</a>
                        <a href="/category/quantified-dna-standards-pathogens">Quantified DNA standards pathogens</a>
                    </div>
                    <div class="main_category"><a href="/services/dnarnaexosome-isolation">Isolation Services</a></div>
                    <div class="main_category"><a href="/services/next-generation-sequencing">NGS Services</a></div>
                    <div class="main_category"><a href="/services/contract-manufacturing-oem">Contract Manufacturing & OEM</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-12-md all-prod">
    <span id="all-products-section" style="position:relative;top:-100px;"></span>
    <h3 style="    background: #ba1e2d;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    padding-top: 10px;
    color: white;
    padding-bottom: 10px;">Best Sellers</h3>
    <div class="container">
    {{ drupal_view('ajax_filterable_products', 'block_8') }}
    </div>
</div>