<style>
#mpox_hand{
	width: 500px;
    position: absolute;
    right: -105px;
    transform: rotate(-33deg);
}
.mpox_banner h1{
	font-size: 100px;
    font-weight: 900;
    letter-spacing: 1px;
    margin:0;
    line-height: 1;
    overflow-wrap: anywhere;
}
.mpox_banner h2{
	margin: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 2;
}
.mpox_banner h3{
	line-height:1;
	margin:0;
}
.mpox_banner{
	position:relative;
	height:730px;
}
.mpox_banner .container{
	position:relative;
	transform:translateY(35%);
}
.stat-icon{
	width:200px;
}
.mpox_products h2{
	dont-size:50px;
	font-weight:500;
}
.monkeypox_grid_card{
	border:1px solid #d7cfcf;
	border-radius:12px;
	padding:10px;
	text-align:center;
}
.monkeypox_grid{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	gap:20px;
}
.mpox_products h2{
	font-size: 50px;
    font-weight: 700;
}
.mpox_products{
	text-align:center;
}
.red-text{
	color:#be1e2d;
}
.contact-container h2{
	font-size: 40px;
    font-weight: 700;
}
.contact-container{
	background-color:#0048970d;
	padding:50px 0;
	margin:100px 0 0;
}
.stat-grid{
	display:grid;
	gap:10px;
	grid-template-columns:200px 200px;
}
.mpox_products h3{
	font-size: 25px;
    text-decoration: underline;
}
.mpox_products_grid{
	display:grid;
	gap:50px;
	grid-template-columns:1fr 1fr;
	    margin: 50px 0;
}
@media only screen and (max-width: 1375px) {
	#mpox_hand{
		width: 500px;
    	position: absolute;
    	right: -180px;
    	transform: rotate(-33deg);
	}

}
@media only screen and (max-width: 1200px) {
	#mpox_hand{
		display:none;
	}
	.mpox_banner .container{
		transform: translateY(0%);
		margin: 50px 10px;
	}
	.mpox_banner{
    	height:auto;
    }
}
@media only screen and (max-width: 700px) {
	.mpox_banner h1{
		overflow-wrap:break-word;
	}
	
	.monkeypox_grid {
    	grid-template-columns: auto;
    }
    .mpox_products_grid {
    	grid-template-columns:auto;
    }
    
}
@media only screen and (max-width: 550px) {
	.symptoms-section{
		margin:50px 0;
	}
	.stat-grid{
		grid-template-columns:auto;
	}

}
</style>

<section class="mpox_banner">
	<img src="/sites/default/files/images/mpox_hand.png" id="mpox_hand">
	<div class="container">
		<h3>Everything You Need to Know About</h3>
		<h1>Monkey<span class="red-text">pox</span>/M<span style="color;red">POX</span></h1>
		<h2>and Solutions Provided by Norgen</h2>
		<p>Mpox in an infectious viral disease causing rashes and painful blisters, along with swollen lymph nodes.</p>
		<hr style="width:50%;margin:20px 0;">
		<div class="stat-grid">
			<div style="text-align:center;">
				<div>
					<?xml version="1.0" encoding="utf-8"?>
					<!-- Generator: Adobe Illustrator 28.6.0, SVG Export Plug-In . SVG Version: 9.03 Build 54939)  -->
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 				viewBox="0 0 402.5 393.4" style="enable-background:new 0 0 402.5 393.4;" xml:space="preserve">
						<style type="text/css">
							.st9{fill:#E6E7E8;}
							.st10{fill:#FFFFFF;}
							.st11{fill:#F15A29;stroke:#F15A29;stroke-miterlimit:10;}
							.st12{fill:#FBB040;stroke:#FBB040;stroke-miterlimit:10;}
							.st13{font-family:'Montserrat;}
							.st14{font-size:76.5263px;font-weight: 700;}
							.st15{opacity:0.7;}
							.st16{font-size:23.5141px;}
						</style>
						<g>
							<g id="Layer_1_00000048463229336667624960000009440540598572657806_">
								<circle class="st9" cx="201.7" cy="200" r="175.4"/>
								<circle class="st10" cx="201.4" cy="201" r="141.4"/>
								<path class="st11" d="M249.2,67.9c-3.8-1-28.5-7.7-39.4-8.1c-4.8-0.2-9.4-0.2-9.7-0.2c-4.1,0.1-10.4,0.3-25.3,2.5
									c-5.4,0.8-12.4,1.9-20.6,3.4l0,0c-1.2-10.8-2.4-21.6-3.6-32.4c11.5-3.9,29.2-8.5,51.1-8.6c21.9-0.1,39.5,4.3,51.1,8.2
									C251.6,41.7,250.4,58.9,249.2,67.9L249.2,67.9z"/>
								<path class="st12" d="M199.2,80.3"/>
							</g>
						</g>
						<text transform="matrix(1.2729 0 0 1 98.1724 217.4183)" class="st13 st14">1-3%</text>
						<text transform="matrix(1.0057 0 0 1 145.4902 264.8898)" class="st15 st13 st16">Case fatality</text>
					</svg>
				</div>
				<!--<img src="/sites/default/files/images/stat-icon-orange.svg" class="stat-icon">-->
				<p>West African Strain</p>
			</div>
			<div style="text-align:center;">
				<div>
					<?xml version="1.0" encoding="utf-8"?>
					<!-- Generator: Adobe Illustrator 28.6.0, SVG Export Plug-In . SVG Version: 9.03 Build 54939)  -->
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 				viewBox="0 0 402.5 393.4" style="enable-background:new 0 0 402.5 393.4;" xml:space="preserve">
						<style type="text/css">
							.st9{fill:#E6E7E8;}
							.st10{fill:#FFFFFF;}
							.st17{fill:#c8d046;stroke:#c8d046;stroke-miterlimit:10;}
							.st12{fill:#FBB040;stroke:#FBB040;stroke-miterlimit:10;}
							.st13{font-family:'Montserrat';}
							.st14{font-size:83.3586px;font-weight: 700;}
							.st15{opacity:0.7;}
							.st16{font-size:23.5141px;}
						</style>
						<g>
							<g id="Layer_1_00000048463229336667624960000009440540598572657806_">
								<circle class="st9" cx="201.7" cy="200" r="175.4"/>
								<circle class="st10" cx="201.4" cy="201" r="141.4"/>
								<path class="st17" d="M249.2,67.9c-3.8-1-28.5-7.7-39.4-8.1c-4.8-0.2-9.4-0.2-9.7-0.2c-4.1,0.1-10.4,0.3-25.3,2.5
								c-5.4,0.8-12.4,1.9-20.6,3.4l0,0c-1.2-10.8-2.4-21.6-3.6-32.4c11.5-3.9,29.2-8.5,51.1-8.6c21.9-0.1,39.5,4.3,51.1,8.2
								C251.6,41.7,250.4,58.9,249.2,67.9L249.2,67.9z"/>
								<path class="st12" d="M199.2,80.3"/>
							</g>
						</g>
						<text transform="matrix(1.1686 0 0 1 114.3022 216.6613)" class="st13 st14">10%</text>
						<text transform="matrix(1.0057 0 0 1 145.4902 264.8898)" class="st15 st13 st16">Case fatality</text>
					</svg>
				</div>
				<!--<img src="/sites/default/files/images/stat-icon-dark.svg" class="stat-icon">-->
				<p>Central African Strain</p>
			</div>
		</div>
		<hr style="width:50%;margin:20px 0;">
	</div>
</section>


<section class="symptoms-section" style="text-align:center;">
	<div class="container">
		<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 28.6.0, SVG Export Plug-In . SVG Version: 9.03 Build 54939)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 516.4 557.1" style="enable-background:new 0 0 516.4 557.1;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;stroke:#231F20;stroke-miterlimit:10;}
	.st1{fill:#231F20;}
	.st2{font-family:'Montserrat';}
	.st3{font-size:37.16px;font-weight:700;}
	.st4{fill:#BE1E2D;}
	.st5{font-family:'Montserrat';}
	.st6{font-size:9.75px;}
	.st7{font-family:'Montserrat';}
	.st8{font-size:9px;}
</style>
<g>
	<g id="Layer_1_00000099645350521360455690000013458715905785008515_">
		<circle class="st0" cx="253.9" cy="106.8" r="74.2"/>
		<circle class="st0" cx="90.8" cy="191.7" r="74.2"/>
		<circle class="st0" cx="424" cy="197.5" r="74.2"/>
		<circle class="st0" cx="394.3" cy="369" r="74.2"/>
		<circle class="st0" cx="91.8" cy="363.9" r="74.2"/>
		<circle class="st0" cx="239.1" cy="450.5" r="74.2"/>
		
			<image style="overflow:visible;enable-background:new    ;" width="512" height="512" xlink:href="/sites/default/files/images/head (1).png"  transform="matrix(0.21 0 0 0.21 205.76 51.4059)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="512" height="512" xlink:href="/sites/default/files/images/hand.png"  transform="matrix(0.22 0 0 0.2 368.45 146.556)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="512" height="512" xlink:href="/sites/default/files/images/stress.png"  transform="matrix(0.21 0 0 0.21 340.27 314.2059)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="512" height="512" xlink:href="/sites/default/files/images/spinal.png"  transform="matrix(0.19 0 0 0.19 187.09 397.6459)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="512" height="512" xlink:href="/sites/default/files/images/neck.png"  transform="matrix(0.19 0 0 0.19 40.98 313.1059)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="256" height="256" xlink:href="/sites/default/files/images/head.png"  transform="matrix(0.41 0 0 0.41 37.75 139.1959)">
		</image>
		<text transform="matrix(0.92 0 0 1 153.8701 271.6558)" class="st1 st2 st3">Monkeypox</text>
		
		<text transform="matrix(0.82 0 0 1 167.1699 312.4561)" class="st1 st2 st3">Symptoms</text>
		<text transform="matrix(1.03 0 0 1 183.8799 343.8159)" class="st1 st5 st6">Illness lasts for 2-4 weeks</text>
	</g>
</g>
<text transform="matrix(1 0 0 1 223.8773 25.5611)" class="st7 st8">High Fever</text>
<text transform="matrix(1 0 0 1 411.8832 117.5561)" class="st7 st8">Rash</text>
<text transform="matrix(1 0 0 1 40.98 111.3224)" class="st7 st8">Intense Headache</text>
<text transform="matrix(1 0 0 1 30.6059 453.1285)" class="st7 st8">Swollen Lymph Nodes</text>
<text transform="matrix(1 0 0 1 205.7602 540.8464)" class="st7 st8">Muscle Ache</text>
<text transform="matrix(1 0 0 1 387.3988 458.4299)" class="st7 st8">Chills</text>
</svg>

	</div>
	<a style="font-size:12px;" href="https://www.flaticon.com/free-icons/pain" title="pain icons">Pain icons created by Leremy - Flaticon</a>
</section>

<section class="mpox_products">
	<div class="container">
		<h2>Solutions for Monkey<span class="red-text">pox</span> research and diagnosis!</h2>
		<p>Norgen Biotek offers both CE marked and Research Use Only product options.</p>
		<hr style="width:25%;">
		<div>
			<h3>Collection & Preservation</h3>
			<div class="mpox_products_grid" >
			<a class="monkeypox_grid_card" href="https://norgenbiotek.com/product/total-nucleic-acid-preservation-tubes-dx?v=1192">
				<div>
					<img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/Dx69200-Total-Nucleic-Acid-Preservation-Tubes-%2850%29_1_WEB.jpg?itok=25fPuNHg">
					<h4>Total Nucleic Acid Preservation Tubes Dx</h4>
					<p>SKU Dx69200</p>
					<form action="" method="post" id="add-to-cart-variation-1192" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1192" siq_id="autopick_7891">
                  		<input type="hidden" id="variation_id" name="variation_id" value="1192">
                  		<input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1192" name="op" value="Add to cart">
                	</form>
				</div>
			</a>
			<a class="monkeypox_grid_card" href="https://norgenbiotek.com/product/viral-transport-medium-vtm-1l?v=1513">
				<div>
					<img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/28447_VTM_Reflection.jpg?itok=CEi8Ek-W" style="max-height:432px;">
					<h4>Viral Transport Medium</h4>
					<p>SKU 28447</p>
					<form action="" method="post" id="add-to-cart-variation-1513" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1513" siq_id="autopick_7891">
                  		<input type="hidden" id="variation_id" name="variation_id" value="1513">
                  		<input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1513" name="op" value="Add to cart">
                	</form>
				</div>
			</a>
			</div>
			<h3>Isolation & Purification</h3>
			<div class="mpox_products_grid">
			<a class="monkeypox_grid_card" href="https://norgenbiotek.com/product/saliva-dna-isolation-kit-dx?v=363">
				<div>
					<img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/45400-Saliva-DNA-Isolation-Kit-WEB.jpg?itok=3vgeXDsT" >
					<h4>Saliva DNA Isolation Kit Dx</h4>
					<p>SKU Dx45400</p>
					<form action="" method="post" id="add-to-cart-variation-363" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-363" siq_id="autopick_7891">
                  		<input type="hidden" id="variation_id" name="variation_id" value="363">
                  		<input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-363" name="op" value="Add to cart">
                	</form>
				</div>
			</a>
			<a class="monkeypox_grid_card" href="https://norgenbiotek.com/product/pathogenviral-nucleic-acid-isolation-kit-magnetic-bead-system?v=1480">
				<div>
					<img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/cat_72900.jpg?itok=FToNICCO" style="max-height:325px;">
					<h4>Pathogen/Viral Nucleic Acid Isolation Kit (Magnetic Bead System)</h4>
					<p>SKU 72900</p>
					<form action="" method="post" id="add-to-cart-variation-1480" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1480" siq_id="autopick_7891">
                  		<input type="hidden" id="variation_id" name="variation_id" value="1480">
                  		<input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1480" name="op" value="Add to cart">
                	</form>
					
				</div>
			</a>
			</div>
			
		</div>
		<!--<div>
			<div class="monkeypox_grid">
				<a class="monkeypox_grid_card" href="https://norgenbiotek.com/product/total-nucleic-acid-preservation-tubes-dx?v=1192">
				<div>
					<img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/45400-Saliva-DNA-Isolation-Kit-WEB.jpg?itok=3vgeXDsT">
					<h3>Total Nucleic Acid Preservation Tubes Dx</h3>
					<p>SKU Dx69200</p>
					<form action="" method="post" id="add-to-cart-variation-1192" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1192" siq_id="autopick_7891">
                  		<input type="hidden" id="variation_id" name="variation_id" value="1192">
                  		<input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1192" name="op" value="Add to cart">
                	</form>
				</div>
				</a>
				<a class="monkeypox_grid_card" href="https://norgenbiotek.com/product/viral-transport-medium-vtm-1l?v=1513">
				<div>
					<img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/45400-Saliva-DNA-Isolation-Kit-WEB.jpg?itok=3vgeXDsT">
					<h3>Viral Transport Medium</h3>
					<p>SKU 28447</p>
					<form action="" method="post" id="add-to-cart-variation-1513" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1513" siq_id="autopick_7891">
                  		<input type="hidden" id="variation_id" name="variation_id" value="1513">
                  		<input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1513" name="op" value="Add to cart">
                	</form>
				</div>
				</a>
				<a class="monkeypox_grid_card" href="https://norgenbiotek.com/product/saliva-dna-isolation-kit-dx?v=363">
				<div>
					<img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/45400-Saliva-DNA-Isolation-Kit-WEB.jpg?itok=3vgeXDsT">
					<h3>Saliva DNA Isolation Kit Dx</h3>
					<p>SKU Dx45400</p>
					<form action="" method="post" id="add-to-cart-variation-363" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-363" siq_id="autopick_7891">
                  		<input type="hidden" id="variation_id" name="variation_id" value="363">
                  		<input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-363" name="op" value="Add to cart">
                	</form>
				</div>
				</a>
				<a class="monkeypox_grid_card" href="https://norgenbiotek.com/product/pathogenviral-nucleic-acid-isolation-kit-magnetic-bead-system?v=1480">
				<div>
					<img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/cat_72900.jpg?itok=FToNICCO">
					<h3>Pathogen/Viral Nucleic Acid Isolation Kit (Magnetic Bead System)</h3>
					<p>SKU 72900</p>
					<form action="" method="post" id="add-to-cart-variation-1480" class="full-width-btn col-sm-12 home-bestsellers-btn-div" data-once="form-updated" data-drupal-form-fields="variation_id,edit-submit-1480" siq_id="autopick_7891">
                  		<input type="hidden" id="variation_id" name="variation_id" value="1480">
                  		<input class="btn-primary button--add-to-cart btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button button--primary js-form-submit form-submit c-btn-border-2x full-width-btn row" data-drupal-selector="edit-submit" type="submit" id="edit-submit-1480" name="op" value="Add to cart">
                	</form>
					
				</div>
				</a>
			</div>
		</div>-->
	</div>
</section>

<section class="contact-container">
	<div class="container">
		<h2>Connect Scientist to Scientist</h2>
		<p>Our scientists will answer all your questions.</p>
		<a class="btn btn-primary" href="https://norgenbiotek.com/contact" target="_blank">Contact Now</a>
	</div>
</section>